<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layouts/default_layout}" layout:fragment="Content">
<script src="https://code.highcharts.com/modules/treemap.js"></script>

<script th:inline="javascript" type="text/javascript" th:src="@{/static/js/page/dash.js}"></script>
<link rel="stylesheet" href="../../static/css/style.css">
<style>
	.highcharts-figure,
	.highcharts-data-table table {
		min-width: 310px;
		max-width: 800px;
		margin: 1em auto;
	}

	#container {
		height: 400px;
	}

	.highcharts-data-table table {
		font-family: Verdana, sans-serif;
		border-collapse: collapse;
		border: 1px solid #ebebeb;
		margin: 10px auto;
		text-align: center;
		width: 100%;
		max-width: 500px;
	}

	.highcharts-data-table caption {
		padding: 1em 0;
		font-size: 1.2em;
		color: #555;
	}

	.highcharts-data-table th {
		font-weight: 600;
		padding: 0.5em;
	}

	.highcharts-data-table td,
	.highcharts-data-table th,
	.highcharts-data-table caption {
		padding: 0.5em;
	}

	.highcharts-data-table thead tr,
	.highcharts-data-table tr:nth-child(even) {
		background: #f8f8f8;
	}

	.highcharts-data-table tr:hover {
		background: #f1f7ff;
	}
</style>

<body>
  <input id="parameterPlant" type="hidden" th:value="${plant}" />
  <input id="parameterUsername" type="hidden" th:value="${username}" />
  <div class="refresh-wrap">
    <div class="refresh-btn" style="cursor : pointer;" id="refreshButton">새로고침</div>
    <div class="fs-12" id="refreshTime" >최근업데이트 : </div>
  </div>
  <div class="dash-wrap">
    <!-- 상단 정보 -->
    <div class="grid-item">
      <div class="flex-wrap-st">
        <div class="flex-item pr-15 logo-wrap">
          <img id="logo1" src="../../static/image/KEM.png" alt="">
          <img id="logo2" src="../../static/image/LHO.png" alt="">
          <img id="logo3" src="../../static/image/SYM.png" alt="">
          <img id="logo4" src="../../static/image/SWH.png" alt="">
        </div>
        <div class="flex-item pr-15">
          <select id="wdrmatarialid" name="wdrmatarial"
			class="form-select-custom form-control-user" aria-label="자재">
			<option value="">자재명</option>
		  </select>
        </div>
        <!-- <div class="flex-item fw-b fs-18">
          현황
        </div>
        <div class="flex-item">
          
        </div> -->
      </div>
    </div>
    <div class="grid-item" id="alarm">
      <div class="flex-wrap-nd">
        <div class="flex-item">
          <!-- 이상발생 건수 있을시 active 클래스 추가 -->
          <div class="noti-box" id="alarmbell1">
            <span>계획대비 실적이상</span>
            <span class="bell" id="alarm1"><img src="../../static/image/bell-default.svg" alt=""></span>
          </div>
        </div>
        <div class="flex-item">
          <!-- 이상발생 건수 있을시 active 클래스 추가 -->
          <div class="noti-box" id="alarmbell2">
            <span>품질이상</span>
            <span class="bell" id="alarm2"></span>            
          </div>
        </div>
        <div class="flex-item">
          <!-- 이상발생 건수 있을시 active 클래스 추가 -->
          <div class="noti-box" id="alarmbell3">
            <span>설비이상</span>
            <span class="bell" id="alarm3"></span>           
          </div>
        </div>
      </div>
    </div>
    <!-- 구분 라인 -->
    <div class="grid-item">
      <div class="line"></div>
    </div>
    <!-- p-data -->
    <div class="grid-item">
      <div class="dash-card">
        <div class="flex-wrap-sb bg-ft card-hd">
          <div class="flex-item fc-w fs-18"><span class="fw-b fs-h1">P</span>roduction</div>          
        </div>
        <div class="sub-info-tit bg-ft fc-w fs-14">시간당 생산량 UPH</div>
        <div class="flex-wrap-sb bg-ft card-bd fc-w">
          <div class="flex-item fs-14" id="preUph">
            <span>전일대비</span>
            <!--class 명 변경 증가 plus / 감소 minus -->
			<span class="plus"></span>
            <span class="same"></span>
            <span class="minus"></span>	
          </div>
          <div class="flex-item fw-b fs-h1" id="Uph"></div>
        </div>
      </div>
    </div>
    <!-- q-data -->
    <div class="grid-item">
      <div class="dash-card">
        <div class="flex-wrap-sb bg-se card-hd">
          <div class="flex-item fc-w fs-18"><span class="fw-b fs-h1">Q</span>uality</div>          
        </div>
        <div class="sub-info-tit bg-se fc-w fs-14">일일 제품 불량률</div>
        <div class="flex-wrap-sb bg-se card-bd fc-w">
          <div class="flex-item fs-14" id="preFailRate">
            <span>전일대비</span>
            <!--class 명 변경 증가 plus / 감소 minus -->
			<span class="plus"></span>
            <span class="same"></span>
            <span class="minus"></span>	
          </div>
          <div class="flex-item fw-b fs-h1" id="failRate"></div>
        </div>
      </div>
    </div>
    <!-- c-data -->
    <div class="grid-item">
      <div class="dash-card">
        <div class="flex-wrap-sb bg-th card-hd">
          <div class="flex-item fc-w fs-18"><span class="fw-b fs-h1">C</span>ost</div>          
        </div>
        <div class="sub-info-tit bg-th fc-w fs-14">일일 설비 가동률</div>
        <div class="flex-wrap-sb bg-th card-bd fc-w">
          <div class="flex-item fs-14" id="preOperateRate">
            <span>전일대비</span>
            <!--class 명 변경 증가 plus / 감소 minus -->
			<span class="plus"></span>
            <span class="same"></span>
            <span class="minus"></span>	
          </div>
          <div class="flex-item fw-b fs-h1" id="operateRate"></div>
        </div>
      </div>
    </div>
    <!-- d-data -->
    <div class="grid-item">
      <div class="dash-card">
        <div class="flex-wrap-sb bg-fo card-hd">
          <div class="flex-item fc-w fs-18"><span class="fw-b fs-h1">D</span>elivery</div>          
        </div>
        <div class="sub-info-tit bg-fo fc-w fs-14">일일 생산 계획 대비 실적 달성률</div>
        <div class="flex-wrap-sb bg-fo card-bd fc-w">
          <div class="flex-item fs-14" id="preSuccessRate">
            <span>전일대비</span>
            <!--class 명 변경 증가 plus / 감소 minus -->
			<span class="plus"></span>
            <span class="same"></span>
            <span class="minus"></span>	
          </div>
          <div class="flex-item fw-b fs-h1" id="successRate"></div>
        </div>
      </div>
    </div>
    <!-- p-그래프 -->
    <!-- 협력사 일때 class 'partner-view' 추가 -->
    <div class="grid-item">
      <div class="dash-card" style="height: 780px;">
        <div class="canva-wrap">
          <div class="flex-wrap-sb card-hd">
            <div class="flex-item fw-b fs-14"><span id="title"></span> 공정별 생산실적(개)</div>
            <div class="flex-item fc-w fs-12">
              <div class="range-wrap" id="chart1Type">
                <input type="radio" class="addType" id="select" name="term" value="day" checked><label for="select">일</label>
                <input type="radio" class="addType" id="select2" name="term" value="week"><label for="select2">주</label>
                <input type="radio" class="addType" id="select3" name="term" value="month"><label for="select3">월</label>
              </div>
            </div>
          </div>
          <div class="canva highcharts-figure" id="chart1" style="height: 300px;">
          </div>
        </div>
        <div class="canva-wrap"  id="isPartner">
          <div class="flex-wrap-sb card-hd">
            <div class="flex-item fw-b fs-14"><span id="title2"></span> 공정별 생산실적(개)</div>
            <div class="flex-item fc-w fs-12">
              <div class="range-wrap" id="chart2Type">
                <input type="radio" class="addType" id="select0" name="term0" value="day" checked><label for="select0">일</label>
                <input type="radio" class="addType" id="select02" name="term0" value="week"><label for="select02">주</label>
                <input type="radio" class="addType" id="select03" name="term0" value="month"><label for="select03">월</label>
              </div>
              <div class="text-right mb-1" id="chart2Type">
				<select id="factoryCodes" name="factoryid"
				  class="form-select-custom form-control-user" style="border: 1px solid; margin-top: 5px; margin-right: 0px; padding: 2px; width: 125px; float: right;" ria-label="공장">
				  <option value="">공장 선택</option>
				</select>
			  </div>
            </div>
          </div>
          <div class="canva highcharts-figure" id="chart2" style="height: 250px;">
          </div>
        </div>
      </div>
    </div>
    <!-- q-그래프 -->
    <div class="grid-item">
      <div class="dash-card" style="height: 780px;">
        <div class="canva-wrap">
          <div class="flex-wrap-sb card-hd">
            <div class="flex-item fw-b fs-14">불량 발생 비중</div>
            <div class="flex-item fc-w fs-12">
              <div class="range-wrap">
				<div id="chart3Type">
				  <input type="radio" class="addMonth" id="month0" name="month" value=""><label for="month0"></label>
                  <input type="radio" class="addMonth" id="month1" name="month" value=""><label for="month1"></label>
                  <input type="radio" class="addMonth" id="month2" name="month" value=""><label for="month2"></label>
				</div>
				<div id="chart3Type" style="margin-top: 3px;">
				  <input type="radio" class="addMonth" id="month3" name="month" value=""><label for="month3"></label>
                  <input type="radio" class="addMonth" id="month4" name="month" value=""><label for="month4"></label>
                  <input type="radio" class="addMonth" id="month5" name="month" value="" checked><label for="month5"></label>	
				</div>
              </div>
            </div>
          </div>
          <div class="canva highcharts-figure" id="chart3" style="height: 300px;">
          </div>
        </div>    
        <div class="canva-wrap">
          <div class="flex-wrap-sb card-hd">
            <div class="flex-item fw-b fs-14">불량 발생 - 상세 유형별 빈도</div>           
          </div>
          <div class="canva highcharts-figure" id="chart4" style="height: 300px;">
          </div>
        </div>     
      </div>
    </div>
    <!-- c-그래프 -->
    <div class="grid-item">
      <div class="dash-card" style="height: 530px;">
        <div class="canva-wrap">
          <div class="flex-wrap-sb card-hd">
            <div class="flex-item fw-b fs-14">설비 가동율 현황(%)</div>
            <div class="flex-item fc-w fs-12">
              <div class="range-wrap" id="chart5Type">
                <input type="radio" class="addType" id="select7" name="term2" value="day" checked><label for="select7">일</label>
                <input type="radio" class="addType" id="select8" name="term2" value="week"><label for="select8">주</label>
                <input type="radio" class="addType" id="select9" name="term2" value="month"><label for="select9">월</label>
              </div>
            </div>
          </div>
          <div class="canva highcharts-figure" id="chart5" style="height: 450px;">
          </div>
        </div>    
      </div>
    </div>
    <!-- d-그래프 -->
    <div class="grid-item">
      <div class="dash-card" style="height: 530px;">
        <div class="canva-wrap">
          <div class="flex-wrap-sb card-hd">
            <div class="flex-item fw-b fs-14">계획 대비 실적 현황(개)</div>
            <div class="flex-item fc-w fs-12">
              <div class="range-wrap" id="chart6Type">
                <input type="radio" class="addType" id="select10" name="term3" value="day" checked><label for="select10">일</label>
                <input type="radio" class="addType" id="select11" name="term3" value="week"><label for="select11">주</label>
                <input type="radio" class="addType" id="select12" name="term3" value="month"><label for="select12">월</label>
              </div>
            </div>
          </div>
          <div class="canva highcharts-figure" id="chart6" style="height: 450px;">
          </div>
        </div>    
      </div>
    </div>
    <!-- 비정형그래프 -->
    <div class="grid-item" style="height: 250px;">
      <div class="grid-se">
        <div class="dash-card bg-gr">
          <div class="flex-wrap-sb card-hd  pt-1">
            <div class="flex-item fc-w fs-18" style="margin-top: 10px;"><span class="fw-b fs-h2">비정형데이터</span></div>          
          </div>
          <div class="sub-info-tit fc-w fs-14 pt-4"style="margin-top: 40px;">일일 스마트알람 발생 건</div>
          <div class="card-bd fc-w">            
            <div class="fw-b fs-h1 ta-r pt-1" ><span id="alarmCnt"></span></div>
<!--            <div class="fs-14 ta-r pt-4">-->
<!--              <span>전일대비</span>-->
              <!--class 명 변경 증가 plus / 감소 minus -->
<!--              <span class="plus">15건</span>-->
<!--            </div>-->
          </div>
        </div>

        <div class="dash-card">          
          <div class="flex-wrap-sb card-bd">
            <div class="flex-item" style="width: 20%;">
              <div class="canva-wrap">
				<div class="flex-wrap-sb card-hd" style="padding: 0rem 0rem;">
                  <div class="flex-item fw-b fs-14" style="padding: 0px 1px;">워드 클라우드</div>
                  <div class="flex-item fc-w fs-12" style="padding: 0px 1px;">
                  </div>
                </div>
                <div class="canva highcharts-figure" id="chart7" style="height: 170px;">
                </div>
              </div> 
            </div>
            <div class="flex-item" style="width: 60%;">
              <div class="canva-wrap">
                <div class="flex-wrap-sb card-hd" style="padding: 0rem 0rem;">
                  <div class="flex-item fw-b fs-14" style="padding: 0px 1px;">스마트 알람 발생 현황(건)</div>
                  <div class="flex-item fc-w fs-12" style="padding: 0px 1px;">
                    <div class="range-wrap" id="chart8Type">
                      <input type="radio" class="addType" id="select20" name="term5" value="day" checked><label for="select20">일</label>
                      <input type="radio" class="addType" id="select21" name="term5" value="week"><label for="select21">주</label>
                      <input type="radio" class="addType" id="select22" name="term5" value="month"><label for="select22">월</label>
                    </div>
                  </div>
                </div>
                <div class="canva highcharts-figure" id="chart8" style="height: 170px;">
                </div>
              </div> 
            </div>
          </div>
        </div>
      </div>      
    </div>    
  </div>
</body>
</html>
