<!DOCTYPE html>
<!-- Default Layout Import-->
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layouts/default_layout}" layout:fragment="Content">

<script th:inline="javascript" type="text/javascript" th:src="@{/static/js/page/groupShiftInfo.js}"></script>
<style>
	.form-control-custom {
		display: block;
		width: 100%;
		/* 		    height: calc(1.5em + 0.75rem + 2px); */
		padding: 0.375rem 0.75rem;
		font-size: 1rem;
		font-weight: 400;
		line-height: 1.5;
		color: #6e707e;
		background-color: #fff;
		background-clip: padding-box;
		border: 1px solid #d1d3e2;
		border-radius: 0.35rem;
		transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
	}

	.form-select-custom {
		display: block;
		width: 100%;
		/* 		    height: calc(1.5em + 0.75rem + 2px); */
		padding: 0.375rem 0.75rem;
		font-size: 1rem;
		font-weight: 400;
		line-height: 1.5;
		color: #6e707e;
		background-color: #fff;
		background-clip: padding-box;
		border: 1px solid #d1d3e2;
		border-radius: 0.35rem;
		transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
	}
</style>

<body>
	<input id="parameterPlant" type="hidden" th:value="${plant}" />
	<input id="parameterUsername" type="hidden" th:value="${username}" />
	<div class="d-flex bd-highlight">
		<div class="p-2 col-12 bd-highlight">
			<div class="card shadow mb-4">
				<div class="card-header py-3">
					<h6 class="m-0 font-weight-bold text-primary">작업구분</h6>
				</div>
				<div class="card-body">
					<div id="toolbarShiftinfo">
						<button type="button" class="btn btn-primary" id="addShiftinfo" data-toggle="modal"
								data-target="#addGroupShiftInfoModal">
							<i class="fa-solid fa-plus"></i> Add
						</button>
						<button id="removeShiftinfo" class="btn btn-danger" disabled>
							<i class="fa fa-trash"></i> Delete
						</button>
					</div>
					<table id="shiftinfo" data-toggle="table" data-toolbar="#toolbarShiftinfo" data-height="750"
						data-multiple-select-row="true" data-click-to-select="true" data-search="true" data-url="/groupshift/find" data-show-columns="true"
						data-show-columns-toggle-all="true">
						<thead class="thead-light">
							<tr>
								<th data-field="state" data-checkbox="true"></th>
								<th data-field="rownum" data-sortable="true" data-align="center">순번</th>	
								<th data-field="factoryid" data-sortable="true" data-align="center">공장코드</th>
								<th data-field="factoryname" data-sortable="true" data-align="center">공장명</th>
								<th data-field="shiftid" data-sortable="true" data-align="center">그룹/SHIFT 코드</th>
								<th data-field="shiftname" data-sortable="true" data-align="center">그룹/SHIFT 명</th>
								<th data-field="shifttype" data-sortable="true" data-align="center">그룹/SHIFT 타입</th>
								<th data-field="starttime" data-sortable="true" data-align="center">시작시간</th>
								<th data-field="endtime" data-sortable="true" data-align="center">종료시간</th>
								<th data-field="creator" data-sortable="true" data-align="center">생성자</th>
								<th data-field="createtime" data-sortable="true" data-align="center">생성시간</th>
								<th data-field="eventuser" data-sortable="true" data-align="center">수정자</th>
								<th data-field="eventtime" data-sortable="true" data-align="center">수정시간</th>								
								<th data-field="isusable" data-sortable="true" data-align="center">사용여부</th>
								<th data-field="notworkcolumn" data-sortable="false" data-align="center"
									data-formatter="groupShiftInfoOperateFormatter" data-events="operateEvents">#
								</th>	
							</tr>
						</thead>
					</table>
				</div>
			</div>
		</div>
	</div>
	<!-- Modal -->
	<div class="modal fade" id="addGroupShiftInfoModal" tabindex="-1" role="dialog"
		aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
		<div class="modal-dialog modal-dialog-centered modal-lg" role="document">
			<div class="modal-content">
				<div class="modal-body">
					<div class="row">
						<div class="col-lg-12">
							<div class="p-5">
								<div class="text-center">
									<h1 class="h4 text-gray-900 mb-4">그룹/Shift정보</h1>
								</div>
								<form class="" id="groupshiftForm">
									<div class="form-group row">
										<div class="col-sm-6 mb-3 mb-sm-0">
											<label for="">공장</label>
											<select id="factoryCodes" name="factoryid"
												class="form-select-custom form-control-user" aria-label="공장">
												<option value="">공장 선택</option>
											</select>
										</div>
										<div class="col-sm-6">
											<label for="">그룹/Shift코드</label>
											<input type="text" name="shiftid" class="form-control-custom form-control-user"
											id="" placeholder="그룹/Shift코드">
										</div>
									</div>
									<div class="form-group row">
										<div class="col-sm-6 mb-3 mb-sm-0">
											<label for="">그룹/Shift명</label>
											<select id="shiftname" name="shiftname"
												class="form-select-custom form-control-user" aria-label="공장">
												<option value="">그룹/Shift명</option>
												<option value="오전">오전</option>
												<option value="오후">오후</option>
											</select>
										</div>
										<div class="col-sm-6">
											<label for="">그룹/Shift타입</label>
											<input type="text" name="shifttype" class="form-control-custom form-control-user"
											id="" placeholder="그룹/SHIFT 타입">
										</div>										
									</div>
									<div class="form-group row">
										<div class="col-sm-6 mb-3 mb-sm-0">
											<label for="">시작시간</label>
											<input type="time" name="starttime"
												class="form-control-custom form-control-user" id="personnel"
												placeholder='시작시간'>
										</div>
										<div class="col-sm-6">
											<label for="">종료시간</label>
											<input type="time" name="endtime"
												class="form-control-custom form-control-user" id="Airlift"
												placeholder='종료시간'>
										</div>
									</div>								
									<div class="form-group row">
										<div class="col-sm-6 mb-3 mb-sm-0">
											<label for="">사용여부</label>
											<select id="isusable" name="isusable"
												class="form-select-custom form-control-user" aria-label="공장">
												<option value="Y">Y</option>
												<option value="N">N</option>
											</select>
										</div>
									</div>
									<hr>
									<div class="row">
										<div class="col-lg-10">
											<a id="addGroupShiftInfoModalCreate"
												class="btn btn-primary btn-user btn-block">
												Save
											</a>
											<a id="addGroupShiftInfoModalModify"
												class="btn btn-primary btn-user btn-block mt-0">
												Save
											</a>
										</div>
										<div class="col-lg-2">
											<a id="addGroupShiftInfoModalClose"
												class="btn btn-google btn-user btn-block">
												X
											</a>
										</div>
									</div>
								</form>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>		
</body>

</html>