<!DOCTYPE html>
<!-- Default Layout Import-->
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layouts/default_layout}" layout:fragment="Content">

<script th:inline="javascript" type="text/javascript" th:src="@{/static/js/page/modelVehicleInfo.js}"></script>
<style>
	.form-control-custom {
		display: block;
		width: 100%;
		/* 		    height: calc(1.5em + 0.75rem + 2px); */
		padding: 0.375rem 0.75rem;
		font-size: 1rem;
		font-weight: 400;
		line-height: 1.5;
		color: #6e707e;
		background-color: #fff;
		background-clip: padding-box;
		border: 1px solid #d1d3e2;
		border-radius: 0.35rem;
		transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
	}

	.form-select-custom {
		display: block;
		width: 100%;
		/* 		    height: calc(1.5em + 0.75rem + 2px); */
		padding: 0.375rem 0.75rem;
		font-size: 1rem;
		font-weight: 400;
		line-height: 1.5;
		color: #6e707e;
		background-color: #fff;
		background-clip: padding-box;
		border: 1px solid #d1d3e2;
		border-radius: 0.35rem;
		transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
	}
</style>

<body>
	<input id="parameterPlant" type="hidden" th:value="${plant}" />
	<input id="parameterUsername" type="hidden" th:value="${username}" />
	<div class="d-flex bd-highlight">
		<div class="p-2 col-12 bd-highlight">
			<div class="card shadow mb-4">
				<div class="card-header py-3">
					<h6 class="m-0 font-weight-bold text-primary">모델/차종정보</h6>
				</div>
				<div class="card-body">
					<div id="toolbarMvinfo">
						<button type="button" class="btn btn-primary" id="addMvinfo" data-toggle="modal"
								data-target="#addGroupShiftInfoModal">
							<i class="fa-solid fa-plus"></i> Add
						</button>
						<button id="removeMvinfo" class="btn btn-danger" disabled>
							<i class="fa fa-trash"></i> Delete
						</button>
					</div>					
					<table id="mvinfo" data-toggle="table" data-toolbar="#toolbarMvinfo" data-height="750"
						data-multiple-select-row="true" data-click-to-select="true" data-search="true" data-url="/mvinfo/find" data-show-columns="true"
						data-show-columns-toggle-all="true">
						<thead class="thead-light">
							<tr>
								<th data-field="state" data-checkbox="true"></th>
								<th data-field="rownum" data-sortable="true" data-align="center">순번</th>									
								<th data-field="modelid" data-sortable="true" data-align="center">MODEL ID</th>
								<th data-field="modelnm" data-sortable="true" data-align="center">MODEL 명</th>
								<th data-field="modeldesc" data-sortable="true" data-align="center">MODEL 설명</th>
								<th data-field="fstreguserid" data-sortable="true" data-align="center">최초등록자ID</th>
								<th data-field="fstregdt" data-sortable="true" data-align="center">최초등록시간</th>
								<th data-field="fnledituserid" data-sortable="true" data-align="center">최종수정자ID</th>
								<th data-field="fnleditdt" data-sortable="true" data-align="center">최종수정시간</th>
								<th data-field="useyn" data-sortable="true" data-align="center">사용여부</th>
								<th data-field="notworkcolumn" data-sortable="false" data-align="center"
									data-formatter="mvInfoOperateFormatter" data-events="operateEvents">#
								</th>	
							</tr>
						</thead>
					</table>
				</div>
			</div>
		</div>
	</div>
	<!-- Modal -->
	<div class="modal fade" id="addMvInfoModal" tabindex="-1" role="dialog"
		aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
		<div class="modal-dialog modal-dialog-centered modal-lg" role="document">
			<div class="modal-content">
				<div class="modal-body">
					<div class="row">
						<div class="col-lg-12">
							<div class="p-5">
								<div class="text-center">
									<h1 class="h4 text-gray-900 mb-4">모델/차종 정보</h1>
								</div>
								<form class="">
									<div class="form-group row">
										<div class="col-sm-6 mb-3 mb-sm-0">
											<label for="">모델ID</label>
											<input type="text" name="modelid" class="form-control-custom form-control-user"
											id="" placeholder="MODEL ID">
										</div>
										<div class="col-sm-6">
											<label for="">모델명</label>
											<input type="text" name="modelnm" class="form-control-custom form-control-user"
											id="" placeholder="MODEL 명">
										</div>
									</div>
									<div class="form-group row">
										<div class="col-sm-6 mb-3 mb-sm-0">
											<label for="">모델설명</label>
											<input type="text" name="modeldesc" class="form-control-custom form-control-user"
											id="" placeholder="MODEL 설명">
										</div>
										<div class="col-sm-6">
											<label for="">사용여부</label>
											<select id="useyn" name="useyn"
												class="form-select-custom form-control-user" aria-label="공장">
												<option value="Y">Y</option>
												<option value="N">N</option>
											</select>
										</div>										
									</div>									
									<hr>
									<div class="row">
										<div class="col-lg-10">
											<a id="addMvInfoModalCreate"
												class="btn btn-primary btn-user btn-block">
												Save
											</a>
											<a id="addMvInfoModalModify"
												class="btn btn-primary btn-user btn-block mt-0">
												Save
											</a>
										</div>
										<div class="col-lg-2">
											<a id="addMvInfoModalClose"
												class="btn btn-google btn-user btn-block">
												X
											</a>
										</div>
									</div>
								</form>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>			
</body>

</html>