<!DOCTYPE html>
<!-- Default Layout Import-->
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layouts/default_layout}" layout:fragment="Content">

<script th:inline="javascript" type="text/javascript" th:src="@{/static/js/page/modelVehicleInfo.js}"></script>

<body>
	<div class="d-flex bd-highlight">
		<div class="p-2 col-12 bd-highlight">
			<div class="card shadow mb-4">
				<div class="card-header py-3">
					<h6 class="m-0 font-weight-bold text-primary">모델/차종 정보</h6>
				</div>
				<div class="card-body">
					<div id="toolbarMvinfo">
						<button type="button" class="btn btn-primary" id="addMvinfo">
							<i class="fa-solid fa-plus"></i> Add
						</button>
						<button id="removeMvinfo" class="btn btn-danger" disabled>
							<i class="fa fa-trash"></i> Delete
						</button>
					</div>					
					<table id="mvinfo" data-toggle="table" data-toolbar="#toolbarMvinfo" data-height="350"
						data-multiple-select-row="true" data-click-to-select="true" data-search="true" data-url="/mvinfo/find" data-show-columns="true"
						data-show-columns-toggle-all="true">
						<thead class="thead-light">
							<tr>
								<th data-field="state" data-checkbox="true"></th>
								<th data-field="modelid" data-sortable="true" data-align="center">MODEL ID</th>
								<th data-field="modelnm" data-sortable="true" data-align="center">MODEL 명</th>
								<th data-field="modeldesc" data-sortable="true" data-align="center">MODEL 설명</th>
								<th data-field="useyn" data-sortable="true" data-align="center">사용여부</th>
<!--								<th data-field="fstreguserid" data-sortable="true" data-align="center">최초등록자ID</th>-->
								<th data-field="fstregdt" data-sortable="true" data-align="center">최초등록시간</th>
<!--								<th data-field="fnledituserid" data-sortable="true" data-align="center">최종수정자ID</th>-->
								<th data-field="fnleditdt" data-sortable="true" data-align="center">최종수정시간</th>
							</tr>
						</thead>
					</table>
				</div>
				<div>
					<div class="card-header">
						<div class="row">
							<label class="control-label font-weight-bold col-lg-6">*MODEL ID<input type="text" id="modelid" name="modelid" class="form-control col-lg-12 "></label>
							<label class="control-label font-weight-bold col-lg-6">MODEL 명<input type="text" id="modelnm" name="modelnm" class="form-control col-lg-12 "></label>
							<label class="control-label font-weight-bold col-lg-6">MODEL 설명<input type="text" id="modeldesc" name="modeldesc" class="form-control col-lg-12 "></label>
							<label class="control-label font-weight-bold col-lg-6">사용여부
								<select id="useyn" name="useyn"
									class="form-select-custom form-control col-lg-12" aria-label="사용여부">
									<option value="Y">Y</option>
									<option value="N">N</option>
								</select>								
							</label>
						</div>
					</div>
				</div>
			</div>
			<div class= "float-right">		
				<button type="button" class="btn btn-primary" id="saveMvinfo">
					<i class="fa-solid"></i> 저장
				</button>
			</div>
		</div>
	</div>
</body>

</html>