<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layouts/default_layout}" layout:fragment="Content">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title>작업모니터링</title>
</head>
<script th:inline="javascript" type="text/javascript" th:src="@{/static/js/page/monitoring.js}"></script>
<link th:inline="css" th:href="@{/static/css/page/style.css}" rel="stylesheet" />

<body>
	<form class="user">
		<div class="form-group row">
			<div class="col-sm-8"></div>
			<div class="col-sm-1 mb-3 mb-sm-0">
				<input type="date" name="workDate" class="form-control-custom form-control-user" id="" placeholder="날짜">
			</div>
			<div class="col-sm-1">
				<select id="factoryCodes" name="factoryid" class="form-select-custom form-control-user" aria-label="공장">
					<option value="">공장 선택</option>
				</select>
			</div>
			<div class="col-sm-1">
				<select id="lineCodes" name="lineid" class="form-select-custom form-control-user" aria-label="공장">
					<option value="">공정 선택</option>
				</select>
			</div>
			<div class="col-sm-1">
				<a id="search" class="btn btn-primary btn-user btn-block mt-0">
					Searach
				</a>
			</div>
		</div>
	</form>

	<div class="monitor-wrap">
		<div class="section-row">
			<div class="tbs tbs-50">
				<div class="tbs-head">
					생산
				</div>
				<div class="tbs-row">
					<div class="tbs-col">
						<div class="tbs-col-head">
							오전
						</div>
						<div class="tbs-col-body">
							<div class="tbs-col-title item">
								계획
							</div>
							<div class="item">
								<div id="dayplan"></div>
							</div>
							<div class="tbs-col-title item">
								실적
							</div>
							<div class="item">
								<div class="num-per">
									<div id="dayperformance"></div>
								</div>
								<div class="num-wrap">
									<span id="daypl"></span><span>/</span><span id="dayper"></span>
								</div>
							</div>
						</div>
					</div>
					<div class="tbs-col ">
						<div class="tbs-col-head">
							오후
						</div>
						<div class="tbs-col-body">
							<div class="tbs-col-title item">
								계획
							</div>
							<div class="item">
								<div id="nightplan"></div>
							</div>
							<div class="tbs-col-title item">
								실적
							</div>
							<div class="item">
								<div class="num-per">
									<div id="nightperformance"></div>
								</div>
								<div class="num-wrap">
									<span id="nightpl"></span><span>/</span><span id="nightper"></span>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="tbs tbs-50">
				<div class="tbs-head">
					재고
				</div>
				<div class="tbs-row">
					<div class="tbs-col">
						<div class="tbs-col-head">
							자재창고
						</div>
						<div class="tbs-col-body">
							<div class="tbs-col-title item">
								품명
							</div>
							<div class="item">
								<select id="matarial">
									<option>MOT-DK</option>
								</select>
							</div>
							<div class="tbs-col-title item">
								수량
							</div>
							<div class="item">
								<div class="num-per">
									<div id="mqty"></div>
								</div>
							</div>
						</div>
					</div>
					<div class="tbs-col ">
						<div class="tbs-col-head">
							제품창고
						</div>
						<div class="tbs-col-body">
							<div class="tbs-col-title item">
								품명
							</div>
							<div class="item">
								<select>
									<option>MOT-DK</option>
								</select>
							</div>
							<div class="tbs-col-title item">
								수량
							</div>
							<div class="item">
								<div class="num-per">
									<div id="pqty"></div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="section-row">
			<div class="tbs tbs-50">
				<div class="tbs-head">
					불량
				</div>
				<div class="tbs-row">
					<div class="tbs-col w-33">
						<div class="tbs-col-head">
							불량율
						</div>
						<div class="tbs-col-body3">
							<div class="tbs-col-title item">
								불량율
							</div>
							<div class="item">
								<div id="failper"></div>
							</div>
							<div class="tbs-col-title item">
								불량수
							</div>
							<div class="item">
								<div id="failqty"></div>
							</div>
							<div class="tbs-col-title item">
								생산수
							</div>
							<div class="item">
								<div id="prodqty"></div>
							</div>
						</div>
					</div>
					<div class="tbs-col w-33">
						<div class="tbs-col-head">
							불량구분
						</div>
						<div class="tbs-col-body3">
							<div class="tbs-col-title item">
								외관불량
							</div>
							<div class="item">
								<div id="ri01"></div>
							</div>
							<div class="tbs-col-title item">
								기능불량
							</div>
							<div class="item">
								<div id="ri02"></div>
							</div>
							<div class="tbs-col-title item">
								조립불량
							</div>
							<div class="item">
								<div id="ri03"></div>
							</div>
							<div class="tbs-col-title item">
								재질불량
							</div>
							<div class="item">
								<div id="ri04"></div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="tbs tbs-50">
				<div class="tbs-head">
					비가동
				</div>
				<div class="col-lg-12">
					<table id="notoperate" data-toggle="table" data-height="350" 
						data-show-columns="false" data-show-columns-toggle-all="true" >
						<thead class="thead-light">
							<tr>
								<th data-field="line" data-sortable="true" data-align="center">공정</th>
								<th data-field="notoperatetime" data-sortable="true" data-align="center">비가동시간</th>
							</tr>
						</thead>
					</table>
				</div>
			</div>

		</div>
	</div>
</body>

</html>