<!DOCTYPE html>

<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layouts/default_layout}" layout:fragment="Content">


  <script th:inline="javascript" type="text/javascript" th:src="@{/static/js/page/monitoring.js}"></script>
  <!-- 퍼블리셔가 추가한 bootstrap css (아래의 순서를 지켜주세요.) -->
  <link href="../static/css/bootstrap/bootstrap.min2.css" rel="stylesheet" />
  <!-- 퍼블리셔가 추가한 css -->
  <link href="../static/css/style2.css" rel="stylesheet"/>

<body>
  <div class="prod-monitor container-fluid mt-4">
    <h4 class="h5 mb-2 font-weight-bold text-primary">생산 모니터링</h4>
		<div class="row">
			<div class="col-lg-12">

        <!-- 조회 영역 -->
				<div class="search-card-wrap card shadow mb-4">
          <div class="d-flex justify-content-center flex-wrap">
            <div class="d-flex align-items-center me-5">
              <label class="custom-color-light-black mb-0 me-3" for="">조회항목</label>
              <select id="factoryCodes" class="form-select-custom form-control-user me-2">
                <option value="KEM">코렌스이엠</option>
              </select>
              <select id="matarialCode" class="form-select-custom form-control-user">
                <option value="MOT-DK">DK</option>
              </select>
            </div>
            <div class="d-flex align-items-center me-5">
              <label class="custom-color-light-black mb-0 me-3" for="">조회일</label>
              <input id="date" type="date" class="form-control-custom form-control-user">
            </div>
            <button id="search" type="button" class="btn btn-balck">
              <i class="fa-solid fa-magnifying-glass"></i>
              <span>조회</span>
            </button>
          </div>
        </div>
        <!-- //조회 영역 -->

        <div class="d-flex justify-content-between">

          <!-- 주요 지표 영역 -->
          <div class="main-graph-card tab-card-wrap card shadow mb-4">
            <div class="card-body">
              <h6 class="custom-color-dusk-blue custom-fw-md mt-2 mb-3">주요 지표 현황</h6>
              <div class="card">
                <div class="card-body py-3">
                  <p class="custom-font-md custom-color-dark custom-fw-md mb-0">· 생산계획대비 실적 - 오전</p>
                  <div class="d-flex align-items-center mt-2">
                    <div class="chart-area me-3">
                      <!-- 그래프 영역입니다 -->
                    </div>
                    <div>
                      <p class="fs-4 custom-color-text mb-0 lh-sm">달성율</p>
                      <p class="custom-fw-b fs-2 custom-color-blue mb-0 lh-sm"><span id="peram" class="custom-font-xl">98</span>%</p>
                    </div>
                  </div>
                  <div class="card-summary d-flex justify-content-around align-items-center mt-3 px-4 py-1">
                    <p class="text custom-color-text mb-0">계획수량<span id="prodqtyam" class="custom-color-blue fs-5 ms-3 custom-fw-b">230</span> <span class="custom-color-blue">개</span></p>
                    <span class="contour-slash">/</span>
                    <p class="text custom-color-text mb-0">생산수량<span id="goodqtyam" class="custom-color-blue fs-5 ms-3 custom-fw-b">226</span> <span class="custom-color-blue">개</span></p>
                  </div>
                </div>
              </div>
              <div class="card mt-3">
                <div class="card-body py-3">
                  <p class="custom-font-md custom-color-dark custom-fw-md mb-0">· 생산계획대비 실적 - 오후</p>
                  <div class="d-flex align-items-center mt-2">
                    <div class="chart-area me-3">
                      <!-- 그래프 영역입니다 -->
                    </div>
                    <div>
                      <p class="fs-4 custom-color-text mb-0 lh-sm">달성율</p>
                      <p class="custom-fw-b fs-2 custom-color-blue mb-0 lh-sm"><span id="perpm" class="custom-font-xl">10</span>%</p>
                    </div>
                  </div>
                  <div class="card-summary d-flex justify-content-around align-items-center mt-3 px-4 py-1">
                    <p class="text custom-color-text mb-0">계획수량<span id="prodqtypm" class="custom-color-blue fs-5 ms-3 custom-fw-b">230</span> <span class="custom-color-blue">개</span></p>
                    <span class="contour-slash">/</span>
                    <p class="text custom-color-text mb-0">생산수량<span id="goodqtypm" class="custom-color-blue fs-5 ms-3 custom-fw-b">23</span> <span class="custom-color-blue">개</span></p>
                  </div>
                </div>
              </div>
              <div class="twin-card d-flex justify-content-between mt-3">
                <div class="card">
                  <div class="card-body py-3">
                    <p class="custom-font-md custom-color-dark custom-fw-md mb-0">· 불량률</p>
                    <p class="text-center custom-fw-b fs-2 custom-color-red mb-0 lh-sm"><span id="rejectper" class="custom-font-xl">0.30</span>%</p>
                  </div>
                </div>
                <div class="card">
                  <div class="card-body py-3">
                    <p class="custom-font-md custom-color-dark custom-fw-md mb-0">· 설비 가동율</p>
                    <p class="text-center custom-fw-b fs-2 custom-color-green mb-0 lh-sm"><span id="eqoperate" class="custom-font-xl">98</span>%</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!-- // 주요 지표 영역 -->

          <!-- 현황 추이 그래프 영역 -->
          <div class="current-graph-card tab-card-wrap card shadow mb-4">
            <div class="card-body">
              <h6 class="custom-color-dusk-blue custom-fw-md mt-2 mb-3">현황 추이 그래프</h6>
              <div class="card">
                <div class="card-body">
                  <p class="custom-font-sm custom-color-grey custom-fw-md mb-0">· 납기 준수율 현황</p>
                  <div class="chart-area mt-2">
                    <!-- 그래프 영역입니다 -->
                  </div>
                </div>
              </div>
              <div class="card mt-3">
                <div class="card-body">
                  <p class="custom-font-sm custom-color-grey custom-fw-md mb-0">· 불량률 현황</p>
                  <div class="chart-area mt-2">
                    <!-- 그래프 영역입니다 -->
                  </div>
                </div>
              </div>
              <div class="card mt-3">
                <div class="card-body">
                  <p class="custom-font-sm custom-color-grey custom-fw-md mb-0">· 비가동 현황</p>
                  <div class="chart-area mt-2">
                    <!-- 그래프 영역입니다 -->
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!-- // 현황 추이 그래프 영역 -->

        </div>
      </div>
    </div>
  </div>
</body>
</html>