<!DOCTYPE html>
<!-- Default Layout Import-->
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layouts/default_layout}" layout:fragment="Content">

<script th:inline="javascript" type="text/javascript" th:src="@{/static/js/page/simulater.js}"></script>
<style>
	.form-control-custom {
		display: block;
		width: 100%;
		/* 		    height: calc(1.5em + 0.75rem + 2px); */
		padding: 0.375rem 0.75rem;
		font-size: 1rem;
		font-weight: 400;
		line-height: 1.5;
		color: #6e707e;
		background-color: #fff;
		background-clip: padding-box;
		border: 1px solid #d1d3e2;
		border-radius: 0.35rem;
		transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
	}

	.form-select-custom {
		display: block;
		width: 100%;
		/* 		    height: calc(1.5em + 0.75rem + 2px); */
		padding: 0.375rem 0.75rem;
		font-size: 1rem;
		font-weight: 400;
		line-height: 1.5;
		color: #6e707e;
		background-color: #fff;
		background-clip: padding-box;
		border: 1px solid #d1d3e2;
		border-radius: 0.35rem;
		transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
	}
</style>

<body>
	<div class="row">
		<div class="col-lg-12">
			<div class="card shadow mb-4">
				<div class="card-header py-3">
					<h6 class="m-0 font-weight-bold text-primary">생산계획</h6>
				</div>
				<div class="card-body">
					<div id="toolbarWorkDailyReport">
						<button type="button" class="btn btn-primary" id="addbtn" data-toggle="modal"
							data-target="#addmodal">
							<i class="fa-solid fa-plus"></i> Add
						</button>
						<button id="removebtn" class="btn btn-danger" disabled>
							<i class="fa fa-trash"></i> Delete
						</button>
						<button id="simulstart" class="btn btn-primary">
							<i class="fa fa-trash"></i> Simulation
						</button>
					</div>
					<table id="table" data-toggle="table" data-toolbar="#toolbarWorkDailyReport" data-height="350"
						data-multiple-select-row="true" data-click-to-select="true" data-search="true"
						data-show-columns="true" data-show-columns-toggle-all="true" data-pagination="true"
						data-ajax="select">
						<thead class="thead-light">
							<tr>
								<th data-field="state" data-checkbox="true"></th>
								<!--<th data-field="rownum" data-sortable="true" data-align="center">순번</th>-->
								<th data-field="order_id" data-sortable="true" data-align="center">주문ID</th>
								<th data-field="order_name" data-sortable="true" data-align="center">주문명</th>
								<th data-field="item_name" data-sortable="true" data-align="center">item이름</th>
								<th data-field="start_time" data-sortable="true" data-align="center">시작시간</th>
								<th data-field="end_time" data-sortable="true" data-align="center">납기</th>
								<th data-field="lot_work" data-sortable="true" data-align="center">총 생산계획</th>
								<th data-field="notworkcolumn" data-sortable="false" data-align="center"
									data-formatter="tableOperateFormatter" data-events="operateEvents">수정
								</th>
							</tr>
						</thead>
					</table>
				</div>
			</div>
		</div>
	</div>


	<!-- Modal -->
	<div class="modal fade" id="addmodal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
		aria-hidden="true">
		<div class="modal-dialog modal-dialog-centered modal-lg" role="document">
			<div class="modal-content">
				<div class="modal-body">
					<div class="row">
						<div class="col-lg-12">
							<div class="p-5">
								<div class="text-center">
									<h1 class="h4 text-gray-900 mb-4">생산계획</h1>
								</div>
								<form class="">
									<div class="form-group row">
										<div class="col-sm-12 mb-3 mb-sm-0">
											<label for="">주문명</label>
											<input type="text" name="ordername"
												class="form-control-custom form-control-user" id="ordername" placeholder="주문명">

										</div>
										<div class="col-sm-6">
											<label for="">ITEM선택</label>
											<select id="rejectItemCode" name="rejectItemCode"
												class="form-select-custom form-control-user" aria-label="공장">
												<option value="">Item 선택</option>
											</select>
										</div>
										<div class="col-sm-6">
											<label for="">Lot선택</label>
											<select id="lot" name="lot"
												class="form-select-custom form-control-user" aria-label="공장">
												<option value="">Lot선택</option>
											</select>
										</div>
										<div class="col-sm-12">
												<label for="">생산수량</label>
												<input type="text" name="lotwork"
													class="form-control-custom form-control-user" id="lotwork"
													placeholder="생산수량">
										</div>
										<div class="col-sm-6 mb-3 mb-sm-0">
											<label for="">시작시간</label>
											<input type="date" name="start" class="form-control-custom form-control-user" id="start" placeholder="시작시간">
										</div>
										<div class="col-sm-6 mb-3 mb-sm-0">
											<label for="">납기</label>
											<input type="date" name="end" class="form-control-custom form-control-user" id="end" placeholder="납기">
										</div>
									</div>

									<hr>
									<div class="row">
										<div class="col-lg-10">
											<a id="Create" class="btn btn-primary btn-user btn-block">
												Save
											</a>
											<a id="Modify" class="btn btn-primary btn-user btn-block mt-0">
												Save
											</a>
										</div>
										<div class="col-lg-2">
											<a id="addLogisticsInfoModalClose"
												class="btn btn-google btn-user btn-block">
												X
											</a>
										</div>
									</div>
								</form>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</body>

</html>