<!DOCTYPE html>
<!-- Default Layout Import-->
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/default_layout}"
      layout:fragment="Content"
>
	<head>
		<script th:inline="javascript" type="text/javascript" th:src="@{/static/js/page/workDailyReport.js}"></script>
	</head>

	<body>
		<div class="">
			<div class="d-flex bd-highlight">
			  <div class="p-2 col-12 bd-highlight">
			  	<div class="card mb-3">
			  		<div class="card-body">
			  			<div class="row">
			  				<div class="col-12">
				  				<h5 class="card-title">작업일보</h5>
				  				<div>
						  			<div id="toolbarWorkDailyReport">
						  			  <button type="button" class="btn btn-primary" id="addWorkDailyReport" data-toggle="modal" data-target="#addWorkDailyReportModal">
									    <i class="fa-solid fa-plus"></i> Add
									  </button>
									  <button id="removeWorkDailyReport" class="btn btn-danger" disabled>
									    <i class="fa fa-trash"></i> Delete
									  </button>
									</div>
						  			<table id="workDailyReport" 
						  			    data-toggle="table"
						  			    data-toolbar="#toolbarWorkDailyReport"
						  				data-height="350"
						  				data-click-to-select="false"
						  				data-search="true"
						  				data-url="/workDailyReport/find"
						  				data-show-columns="true"
				  						data-show-columns-toggle-all="true"
						  				>
									  <thead class="thead-light">
									    <tr>
									      <th data-field="state" data-checkbox="true"></th>
									      <th data-field="workDate" data-sortable="true" data-align="center">날짜</th>
									      <th data-field="factoryname" data-sortable="true" data-align="center">공장</th>
									      <th data-field="linename" data-sortable="true" data-align="center">라인명</th>
									      <th data-field="blockname" data-sortable="true" data-align="center">블록명</th>
									      <th data-field="groupname" data-sortable="true" data-align="center">조구분</th>
									      <th data-field="shiftname" data-sortable="true" data-align="center">주/야구분</th>
									      <th data-field="register" data-sortable="true" data-align="center">작성자</th>
									      <th data-field="reviewer" data-sortable="true" data-align="center">검토자</th>
									      <th data-field="approver" data-sortable="true" data-align="center">승인자</th>
									      <th data-field="approver" data-sortable="true" data-align="center" data-formatter="operateFormatter" data-events="operateEvents">비고</th>
									    </tr>
									  </thead>
									</table>
						  		</div>
				  			</div>
				  		</div>
				  	</div>
			  	</div>
			  	<div class="row">
			  		<div class="col-4">
				  		<div class="card">
				  			<div class="card-body">
				  				<h5 class="card-title">작업자투입현황</h5>
				  				<div>
						  			<div id="toolbarWorkerInput">
									  <button id="removeWorkerInput" class="btn btn-danger" disabled>
									    <i class="fa fa-trash"></i> Delete
									  </button>
									</div>
						  			<table id="workerInput" 
						  			    data-toggle="table"
						  			    data-toolbar="#toolbarWorkerInput"
						  				data-height="300"
						  				data-click-to-select="false"
						  				data-search="true"
						  				data-show-columns="true"
				  						data-show-columns-toggle-all="true"
						  				>
									  <thead class="thead-light">
									    <tr>
									      <th data-field="state" data-checkbox="true"></th>
									      <th data-field="personid" data-sortable="true" data-align="center">성명</th>
									      <th data-field="overtime" data-sortable="true" data-align="center">잔업여부</th>
									      <th data-field="notes" data-sortable="true" data-align="center">비고</th>
									    </tr>
									  </thead>
									</table>
						  		</div>
				  			</div>
				  		</div>
				  	</div>
				  	<div class="col-4">
				  		<div class="card">
				  			<div class="card-body">
				  				<h5 class="card-title">공수투입현황</h5>
				  				<div>
						  			<div id="toolbar3">
									  <button id="remove3" class="btn btn-danger" disabled>
									    <i class="fa fa-trash"></i> Delete
									  </button>
									</div>
						  			<table id="workerManhour" 
						  			    data-toggle="table"
						  			    data-toolbar="#toolbar3"
						  				data-height="300"
						  				data-click-to-select="false"
						  				data-search="true"
						  				data-show-columns="true"
				  						data-show-columns-toggle-all="true"
						  				>
									  <thead class="thead-light">
									    <tr>
									      <th data-field="state" data-checkbox="true"></th>
									      <th data-field="inputItemid" data-sortable="true" data-align="center">구분</th>
									      <th data-field="hands" data-sortable="true" data-align="center">인원</th>
									      <th data-field="manhour" data-sortable="true" data-align="center">공수</th>
									    </tr>
									  </thead>
									</table>
						  		</div>
				  			</div>
				  		</div>
				  	</div>
				  	<div class="col-4">
				  		<div class="card">
				  			<div class="card-body">
				  				<h5 class="card-title">타라인지원내역</h5>
				  				<div>
						  			<div id="toolbar4">
									  <button id="remove4" class="btn btn-danger" disabled>
									    <i class="fa fa-trash"></i> Delete
									  </button>
									</div>
						  			<table id="workerSupport" 
						  			    data-toggle="table"
						  			    data-toolbar="#toolbar4"
						  				data-height="300"
						  				data-click-to-select="false"
						  				data-search="true"
						  				data-show-columns="true"
				  						data-show-columns-toggle-all="true"
						  				>
									  <thead class="thead-light">
									    <tr>
									      <th data-field="state" data-checkbox="true"></th>
									      <th data-field="personid" data-sortable="true" data-align="center">성명</th>
									      <th data-field="lineid" data-sortable="true" data-align="center">라인명</th>
									      <th data-field="supporttimeFrom" data-sortable="true" data-align="center">지원시작시간</th>
									      <th data-field="supporttimeTo" data-sortable="true" data-align="center">지원종료시간</th>
									      <th data-field="manhour" data-sortable="true" data-align="center">공수</th>
									    </tr>
									  </thead>
									</table>
						  		</div>
				  			</div>
				  		</div>
				  	</div>
			  	</div>
			  	<div class="row">
			  		<div class="col-12">
				  		<div class="card">
				  			<div class="card-body">
				  				<h5 class="card-title">작업내용</h5>
				  				<div>
						  			<div id="toolbar5">
									  <button id="remove5" class="btn btn-danger" disabled>
									    <i class="fa fa-trash"></i> Delete
									  </button>
									</div>
						  			<table id="workContents" 
						  			    data-toggle="table"
						  			    data-toolbar="#toolbar5"
						  				data-height="300"
						  				data-click-to-select="false"
						  				data-search="true"
						  				data-show-columns="true"
				  						data-show-columns-toggle-all="true"
						  				>
									  <thead class="thead-light">
									    <tr>
									      <th data-field="state" data-checkbox="true"></th>
									      <th data-field="worktimeFrom" data-sortable="true" data-align="center">작업시작시간</th>
									      <th data-field="worktimeTo" data-sortable="true" data-align="center">작업종료시간</th>
									      <th data-field="manhour" data-sortable="true" data-align="center">공수</th>
									      <th data-field="modelid" data-sortable="true" data-align="center">모델/차종</th>
									      <th data-field="prodQty" data-sortable="true" data-align="center">생산수량</th>
									      <th data-field="goodsumQty" data-sortable="true" data-align="center">양품합계</th>
									      <th data-field="firsttimeGoodQty" data-sortable="true" data-align="center">양품</th>
									      <th data-field="firsttimeFailQty" data-sortable="true" data-align="center">불량</th>
									      <th data-field="reworkGoodQty" data-sortable="true" data-align="center">재작업양품</th>
									      <th data-field="reworkFailQty" data-sortable="true" data-align="center">재작업불량</th>
									      <th data-field="notes" data-sortable="true" data-align="center">특이사항</th>
									    </tr>
									  </thead>
									</table>
						  		</div>
				  			</div>
				  		</div>
				  	</div>
			  	</div>
			  	<div class="row">
			  		<div class="col-6">
				  		<div class="card">
				  			<div class="card-body">
				  				<h5 class="card-title">부적합내역</h5>
				  				<div>
						  			<div id="toolbar6">
									  <button id="remove6" class="btn btn-danger" disabled>
									    <i class="fa fa-trash"></i> Delete
									  </button>
									</div>
						  			<table id="rejectContents" 
						  			    data-toggle="table"
						  			    data-toolbar="#toolbar6"
						  				data-height="300"
						  				data-click-to-select="false"
						  				data-search="true"
						  				data-show-columns="true"
				  						data-show-columns-toggle-all="true"
						  				>
									  <thead class="thead-light">
									    <tr>
									      <th data-field="state" data-checkbox="true"></th>
									      <th data-field="modelid" data-sortable="true" data-align="center">모델/차종</th>
									      <th data-field="operationid" data-sortable="true" data-align="center">공정</th>
									      <th data-field="rejectItemid" data-sortable="true" data-align="center">불량내용</th>
									      <th data-field="firsttimeRejectQty" data-sortable="true" data-align="center">본</th>
									      <th data-field="reworkRejectQty" data-sortable="true" data-align="center">재투입</th>
									    </tr>
									  </thead>
									</table>
						  		</div>
				  			</div>
				  		</div>
				  	</div>
				  	<div class="col-6">
				  		<div class="card">
				  			<div class="card-body">
				  				<h5 class="card-title">비가동내역</h5>
				  				<div>
						  			<div id="toolbar7">
									  <button id="remove7" class="btn btn-danger" disabled>
									    <i class="fa fa-trash"></i> Delete
									  </button>
									</div>
						  			<table id="notoperateContents" 
						  			    data-toggle="table"
						  			    data-toolbar="#toolbar7"
						  				data-height="300"
						  				data-click-to-select="false"
						  				data-search="true"
						  				data-show-columns="true"
				  						data-show-columns-toggle-all="true"
						  				>
									  <thead class="thead-light">
									    <tr>
									      <th data-field="state" data-checkbox="true"></th>
									      <th data-field="notoperatetimeFrom" data-sortable="true" data-align="center">비가동시작</th>
									      <th data-field="notoperatetimeTo" data-sortable="true" data-align="center">비가동종료</th>
									      <th data-field="hands" data-sortable="true" data-align="center">인원</th>
									      <th data-field="prodQty" data-sortable="true" data-align="center">공수</th>
									      <th data-field="cause" data-sortable="true" data-align="center">내용/원인</th>
									      <th data-field="correctiveAction" data-sortable="true" data-align="center">조치사항</th>
									    </tr>
									  </thead>
									</table>
						  		</div>
				  			</div>
				  		</div>
				  	</div>
			  	</div>
			  </div>
			</div>
		</div>
		
		<!-- Modal -->
		<div class="modal fade" id="addWorkDailyReportModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
		  <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
		    <div class="modal-content">
		      <div class="modal-header">
		        <h5 class="modal-title" id="exampleModalLongTitle">Modal title</h5>
		        <button type="button" class="close" id="addWorkDailyReportModalClose" data-dismiss="modal" aria-label="Close">
		          <span aria-hidden="true">&times;</span>
		        </button>
		      </div>
		      <div class="modal-body">
					  <div class="row">
					    <div class="col-4">
					      <label for="formGroupExampleInput">RULE ID</label>
					      <input id="ruleidDetail" name="ruleid" type="text" class="form-control mb-2" placeholder="">
					      <label for="formGroupExampleInput">날짜</label>
					      <input id="workDateDetail" name="workDate" type="text" class="form-control mb-2" placeholder="">
					      <label for="formGroupExampleInput">블록</label>
					      <input id="blockidDetail" name="blockid" type="text" class="form-control mb-2" placeholder="">
					    </div>
					    <div class="col-4">
					      <label for="formGroupExampleInput">검토자</label>
					      <input id="approverDetail" name="approver" type="text" class="form-control mb-2" placeholder="">
					      <label for="formGroupExampleInput">공장</label>
					      <input id="factoryidDetail" name="factoryid" type="text" class="form-control mb-2" placeholder="">
					      <label for="formGroupExampleInput">조 구분</label>
					      <input id="groupidDetail" name="groupid" type="text" class="form-control mb-2" placeholder="">
					    </div>
					    <div class="col-4">
					      <label for="formGroupExampleInput">승인자</label>
					      <input id="reviewerDetail" name="reviewer" type="text" class="form-control mb-2" placeholder="">
					      <label for="formGroupExampleInput">라인</label>
					      <input id="lineidDetail" name="lineid" type="text" class="form-control mb-2" placeholder="">
					      <label for="formGroupExampleInput">주/야구분</label>
					      <input id="shiftidDetail" name="shiftid" type="text" class="form-control mb-2" placeholder="">
					    </div>
					  </div>
		      </div>
		      <div class="modal-footer">
		        <button type="button" id="addWorkDailyReportModalCreate" class="btn btn-primary">Save</button>
		        <button type="button" id="addWorkDailyReportModalModify" class="btn btn-primary">Save</button>
		      </div>
		    </div>
		  </div>
		</div>
	</body>
</html>