<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.idr.pdd.mapper.AnomalyDetectionMapper">

	<select id="find" resultType="AnomalyDetection">
		SElECT VALUE ,ALARM_TYPE
		FROM DSP_ALARM_SETTING
	</select>

	<update id="modify" parameterType="AnomalyDetection">
		UPDATE DSP_ALARM_SETTING
		SET
		VALUE = #{value1}
		WHERE
		DATASEQ = 2
	</update>

	<update id="modify2" parameterType="AnomalyDetection">
		UPDATE DSP_ALARM_SETTING
		SET
		VALUE = #{value2}
		WHERE
		DATASEQ = 3
	</update>


</mapper>
