<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.idr.pdd.mapper.DashMapper">

    <select id="findAll1" parameterType="WorkContents" resultType="WorkContents">
        SELECT
		    SUM(A.PROD_QTY) AS PROD_QTY, 
		    SUM(A.FIRSTTIME_FAIL_QTY) AS FIRSTTIME_FAIL_QTY,
		    CONVERT(DATE, A.EVENTTIME) AS EVENTTIME
		FROM DSP_WORK_CONTENTS A  
		WHERE 1=1
		    AND A.ISUSABLE = 'Usable'
		    AND CONVERT(DATE, A.EVENTTIME) = CONVERT(DATE, GETDATE())
		GROUP BY CONVERT(DATE, A.EVENTTIME);
    </select>
    
    <select id="findAll2" parameterType="RejectContents" resultType="RejectContents">
        SELECT 
        	A.REJECT_ITEMID,
        	A.FIRSTTIME_REJECT_QTY,
        	A.REJECT_TYPE,
        	A.EVENTTIME	
        FROM DSP_REJECT_CONTENTS A
        WHERE 1=1
       	 	AND A.ISUSABLE = 'Usable'
       	 	AND DATEPART(YEAR, A.EVENTTIME) = DATEPART(YEAR, GETDATE())
       	 	AND DATEPART(MONTH, A.EVENTTIME) = #{month}
    </select>
    
    <select id="findAll3" parameterType="RejectContents" resultType="RejectContents">
        SELECT 
        	A.REJECT_ITEMID,
        	A.FIRSTTIME_REJECT_QTY,
        	A.REJECT_TYPE
        FROM DSP_REJECT_CONTENTS A
        WHERE 1=1
       	 	AND A.ISUSABLE = 'Usable'
    </select>

</mapper>