<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.idr.pdd.mapper.DataTraceMapper">

	<select id="findM" resultType="JobExechistMaster">
		SELECT  
			 A.EXEC_MASTERSEQ
			,A.EXEC_TID
			,A.EXEC_MASTERID
			,(SELECT MASTER_RULENAME FROM FRW_POLICY_MASTER WHERE MASTERID IN (A.EXEC_MASTERID)) AS EXEC_MASTERNM
			,(SELECT MASTER_RULEDESCRIPTION FROM FRW_POLICY_MASTER WHERE MASTERID IN (A.EXEC_MASTERID)) AS MASTERRULEDESCRIPTION
			,A.STATE
			,A.EXEC_STARTTIME
			,A.EXEC_ENDTIME
			,A.MESSAGE_ERROR
			,A.LASTEVENTTIME
		FROM FRW_JOBEXECHIST_M A
		WHERE 1=1
		ORDER BY A.EXEC_MASTERSEQ DESC
	</select>  	
	
	<select id="find" parameterType="JobExechistMaster" resultType="JobExechist">
		SELECT  DISTINCT
			 A.EXEC_HISTSEQ
			,A.EXEC_TID
			,A.EXEC_MASTERID
			,(SELECT MASTER_RULENAME FROM FRW_POLICY_MASTER WHERE MASTERID IN (A.EXEC_MASTERID)) AS EXEC_MASTERNM
			,(SELECT MASTER_RULEDESCRIPTION FROM FRW_POLICY_MASTER WHERE MASTERID IN (A.EXEC_MASTERID)) AS MASTERRULEDESCRIPTION
			,A.STATE
			,A.EXEC_STARTTIME
			,A.EXEC_ENDTIME
			,A.MESSAGE_ERROR
			,A.LASTEVENTTIME
			,A.EXEC_RULESYSID
			,A.EXEC_OBJECTID
			,(SELECT OBJECTNAME FROM FRW_POLICY_DETAIL WHERE MASTERID IN (A.EXEC_MASTERID) AND RULESYSID IN (A.EXEC_RULESYSID) AND OBJECTID IN (A.EXEC_OBJECTID)) AS EXEC_OBJECTNM
		FROM FRW_JOBEXECHIST A
		INNER JOIN FRW_JOBEXECHIST_M B ON (B.EXEC_TID = A.EXEC_TID)
		WHERE 1=1
		AND A.EXEC_TID = #{exectid}
	</select>	

</mapper>