<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.idr.pdd.mapper.DatasetDetailedMapper">

	<select id="findAll" resultType="CM0801">
		SELECT
		  DATASEQ
		, COMPANY_CD
		, BIZ_CD
		, ACTIVITY_ID
		, ACTIVITY_NM
		, PQCD_ID
		, (SELECT COMM_CD_NM FROM SC_COMM_CD WHERE COMM_GRP_CD = 'PQCD_TYPE'
		AND COMM_CD = PQCD_ID) PQCD_NM
		, FST_REG_USER_ID
		, FORMAT(FST_REG_DT, 'yyyy-MM-dd HH:mm:ss') AS FST_REG_DT
		, FNL_EDIT_USER_ID
		, FORMAT(FNL_EDIT_DT, 'yyyy-MM-dd HH:mm:ss') AS FNL_EDIT_DT
		, ISUSABLE
		, TID
		FROM CM0801
		WHERE 1=1
		ORDER BY FNL_EDIT_DT DESC
	</select>  	

	<insert id="create" parameterType="CM0801">
			INSERT INTO CM0801(
        		 COMPANY_CD
				,BIZ_CD
				,ACTIVITY_ID
				,ACTIVITY_NM
				,PQCD_ID
				,FST_REG_USER_ID
				,FST_REG_DT
				,FNL_EDIT_USER_ID
				,FNL_EDIT_DT
				,ISUSABLE			
			) 
			VALUES(
				 'dx'
				,'SP1'
				,#{activityid}
				,#{activitynm}			
				,#{pqcdid}
				,'idrAdmin'
				,getdate()
				,'idrAdmin'
				,getdate()
				,#{isusable}			
			)
	</insert>
	
    <update id="modify" parameterType="CM0801" >
			UPDATE CM0801
			SET 
				 COMPANY_CD 	 	= 'dx'
				,BIZ_CD				= 'SP1'
				,ACTIVITY_ID		= #{activityid}
				,ACTIVITY_NM		= #{activitynm}			
				,PQCD_ID   			= #{pqcdid}
				,FNL_EDIT_USER_ID	='idrAdmin'
				,FNL_EDIT_DT    	= getdate()	
				,ISUSABLE  			= #{isusable}
			WHERE DATASEQ			= #{dataseq}
	</update>
	
    <delete id="remove" parameterType="list">
    	DELETE FROM CM0801
		WHERE 1=1 AND DATASEQ IN
		<foreach collection="list" item="data" index="index" separator="," open="(" close=")">
	        #{data}
	     </foreach>
    </delete>

</mapper>
