<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.idr.pdd.mapper.DvcDatasetModelingMapper">

	<select id="findAxis" resultType="CM0701">
		SELECT DISTINCT 
		 A.COMPANY_CD
		, A.BIZ_CD
		, A.AXIS_ID
		, (SELECT COMM_CD_NM FROM SC_COMM_CD WHERE COMM_GRP_CD = 'AXIS_ID' AND
		COMM_CD = A.AXIS_ID ) AXIS_NM
		FROM CM0701 A
		WHERE A.COMPANY_CD = 'dx'
		AND A.BIZ_CD = 'SP1'
	</select>  	
	
	<select id="findGroup" parameterType="CM0701" resultType="CM0701">
		SELECT 
		  A.DATASEQ
		, A.COMPANY_CD
		, A.BIZ_CD
		, A.AXIS_ID
		, (SELECT COMM_CD_NM FROM SC_COMM_CD WHERE COMM_GRP_CD = 'AXIS_ID' AND
		COMM_CD = A.AXIS_ID ) AXIS_NM
		, A.GROUPING_ID
		, A.GROUPING_NM
		, A.FST_REG_USER_ID
		, FORMAT(A.FST_REG_DT, 'yyyy-MM-dd HH:mm:ss') AS FST_REG_DT
		, A.FNL_EDIT_USER_ID
		, FORMAT(A.FNL_EDIT_DT, 'yyyy-MM-dd HH:mm:ss') AS FNL_EDIT_DT
		, A.ISUSABLE
		, A.TID
		FROM CM0701 A
		WHERE A.COMPANY_CD = 'dx'
		AND A.BIZ_CD = 'SP1'
		AND A.AXIS_ID = #{axisid}
		ORDER BY FNL_EDIT_DT DESC
	</select>	
	
	<insert id="create" parameterType="CM0701">
			INSERT INTO CM0701(
        		 COMPANY_CD
				,BIZ_CD
				,AXIS_ID
				,GROUPING_ID
				,GROUPING_NM
				,FST_REG_USER_ID
				,FST_REG_DT
				,FNL_EDIT_USER_ID
				,FNL_EDIT_DT
				,ISUSABLE				
			) 
			VALUES(
				 'dx'
				,'SP1'
				,#{axisid}			
				,#{groupingid}
				,#{groupingnm}
				,'idrAdmin'
				, getdate()
				,'idrAdmin'
				, getdate()
				,#{isusable}			
			)
	</insert>
	
    <update id="modify" parameterType="CM0701" >
			UPDATE CM0701
			SET 
				 AXIS_ID			= #{axisid}
				,GROUPING_ID		= #{groupingid}
				,GROUPING_NM		= #{groupingnm}
				,FNL_EDIT_USER_ID	= 'idrAdmin'
				,FNL_EDIT_DT		= GETDATE()
				,ISUSABLE			= #{isusable}
			WHERE DATASEQ			= #{dataseq}
	</update>

    <delete id="remove" parameterType="list">
    	DELETE FROM CM0701
		WHERE 1=1 AND DATASEQ IN
		<foreach collection="list" item="data" index="index" separator="," open="(" close=")">
	        #{data}
	     </foreach>
    </delete>

</mapper>
