<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.idr.pdd.mapper.FactoryInfoMapper">

    <select id="findAll" resultType="Factory">
          SELECT 
          		 ROW_NUMBER() OVER(ORDER BY (SELECT EVENTTIME) DESC) AS ROWNUM
          		,DATASEQ
	            ,FACTORYID
	            ,FACTORYNAME
	            ,DESCRIPTION
	            ,FACTORYTYPE
	            ,CREATOR
	            ,FORMAT(CREATETIME, 'yyyy-MM-dd HH:mm:ss') AS CREATETIME
	            ,EVENT
	            ,EVENTUSER
	            ,FORMAT(EVENTTIME, 'yyyy-MM-dd HH:mm:ss') AS EVENTTIME
	            ,ISUSABLE
          FROM DSP_FACTORY
         WHERE 1=1
         ORDER BY EVENTTIME DESC
    </select>  
    
	<insert id="create" parameterType="Factory" >
        INSERT INTO DSP_FACTORY (
				 COMPANYID
				,FACTORYID
				,FACTORYNAME
				,DESCRIPTION
				,FACTORYTYPE
				,CREATOR
				,CREATETIME
				,EVENTUSER
				,EVENTTIME
				,ISUSABLE	
        )
        VALUES (
				 'dx'
				,#{factoryid}
				,#{factoryname}
				,#{description}
				,#{factorytype}
				,'idrAdmin'
				,GETDATE()
				,'idrAdmin'
				,GETDATE()				
				,#{isusable}		
        )
    </insert>
    
    <update id="modify" parameterType="Factory" >
		UPDATE DSP_FACTORY
           SET
				 FACTORYNAME	= #{factoryname}
				,DESCRIPTION	= #{description}
				,FACTORYTYPE	= #{factorytype}
				,EVENTUSER		= 'idrAdmin'
				,EVENTTIME		= GETDATE()
				,ISUSABLE		= #{isusable}
		WHERE 	 DATASEQ		= #{dataseq}
    </update>    

    <update id="remove" parameterType="list">
		UPDATE DSP_FACTORY 
		SET ISUSABLE= 'N'
			,EVENTUSER = 'idrAdmin'
			,EVENTTIME = GETDATE()
		WHERE 1=1 AND DATASEQ IN
		<foreach collection="list" item="data" index="index" separator="," open="(" close=")">
	        #{data}
	     </foreach>
    </update>    

</mapper>
