<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.idr.pdd.mapper.FactoryInfoMapper">

    <select id="findAll" resultType="Factory">
          SELECT COMPANYID
	             ,FACTORYID
	             ,FACTORYNAME
	             ,DESCRIPTION
	             ,ERPPLANT
	             ,FACTORYTYPE
	             ,CREATOR
	             ,FORMAT(CREATETIME, 'yyyy-MM-dd HH:mm:ss') AS CREATETIME
	             ,EVENT
	             ,EVENTUSER
	             ,FORMAT(EVENTTIME, 'yyyy-MM-dd HH:mm:ss') AS EVENTTIME
	             ,ISUSABLE
          FROM DSP_FACTORY
         WHERE 1=1
    </select>
    
    <select id="checkCnt" parameterType="Factory" resultType="int">
		SELECT COUNT(*)
		FROM DSP_FACTORY
		WHERE 1=1
			AND FACTORYID = #{factoryid}
	</select>   
    
	<update id="save" parameterType="Factory" >
		MERGE INTO DSP_FACTORY AS A
		USING (
			SELECT 1 AS DUM
		) AS B
		ON (
			A.FACTORYID = #{factoryid}
			)
		WHEN MATCHED THEN
			UPDATE SET 
				 FACTORYNAME	= #{factoryname}
				,DESCRIPTION	= #{description}
				,ERPPLANT		= #{erpplant}
				,FACTORYTYPE	= #{factorytype}
				,EVENTUSER		= 'idrAdmin'
				,EVENTTIME		= GETDATE()
				,ISUSABLE		= #{isusable}
		WHEN NOT MATCHED THEN 
			INSERT(
				 COMPANYID
				,FACTORYID
				,FACTORYNAME
				,DESCRIPTION
				,ERPPLANT
				,FACTORYTYPE
				,CREATOR
				,CREATETIME
				,EVENTUSER
				,EVENTTIME
				,ISUSABLE		
			) 
			VALUES(
				 'dx'
				,#{factoryid}
				,#{factoryname}
				,#{description}				
				,#{erpplant}
				,#{factorytype}
				,'idrAdmin'
				,GETDATE()
				,'idrAdmin'
				,GETDATE()				
				,#{isusable}			
			)
		;
	</update>

    <update id="remove" parameterType="list">
		<foreach collection="list" item="data" open="" close="" separator=";">
		UPDATE DSP_FACTORY 
		SET ISUSABLE= 'N'
			,EVENTUSER = 'idrAdmin'
			,EVENTTIME = GETDATE()
    	WHERE
			COMPANYID = 'dx' 
			AND FACTORYID = #{data.factoryid}
		</foreach>
    </update>    

</mapper>
