<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.idr.pdd.mapper.GroupShiftInfoMapper">

    <select id="findAll" resultType="Shift">
		SELECT
			   A.COMPANYID
             , A.SHIFTID
             , A.FACTORYID
             ,(SELECT FACTORYNAME FROM DSP_FACTORY WHERE FACTORYID IN (A.FACTORYID)) AS FACTORYNAME
             , A.SHIFTNAME
             , A.SHIFTTYPE
             , A.STARTTIME 
             , A.ENDTIME
             , A.CREATOR
             , A.CREATETIME
             , A.EVENT
             , A.EVENTUSER
             , A.EVENTTIME
             , A.ISUSABLE
             , A.TID
		FROM DSP_SHIFT A
		WHERE 1=1
    </select>  
    
	<update id="merge" parameterType="Shift" >
		MERGE INTO DSP_SHIFT AS A
		USING (
			SELECT 1 AS DUM
		) AS B
		ON (
			A.COMPANYID = #{companyid} AND
			A.FACTORYID = #{factoryid} AND
			A.SHIFTID = #{shiftid}
			)
		WHEN MATCHED THEN
			UPDATE SET 
				 SHIFTNAME		= #{shiftname}
				,SHIFTTYPE		= #{shifttype}
				,STARTTIME		= #{starttime}
				,ENDTIME		= #{endtime}
				,ISUSABLE		= #{isusable}
		WHEN NOT MATCHED THEN 
			INSERT(
				 COMPANYID
				,FACTORYID
				,SHIFTID
				,SHIFTNAME
				,SHIFTTYPE
				,STARTTIME
				,ENDTIME
				,ISUSABLE				
			) 
			VALUES(
				 'dx'
				,#{factoryid}
				,#{shiftid}
				,#{shiftname}				
				,#{shifttype}
				,#{starttime}
				,#{endtime}
				,#{isusable}				
			)
		;
	</update>

    <update id="remove" parameterType="list">
		<foreach collection="list" item="data" open="" close="" separator=";">
		UPDATE DSP_SHIFT 
		SET ISUSABLE= 'N'
    	WHERE
			COMPANYID = 'dx' 
			AND FACTORYID = #{data.factoryid} 
			AND SHIFTID = #{data.shiftid}
		</foreach>
    </update>

</mapper>
