<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.idr.pdd.mapper.GroupShiftInfoMapper">

    <select id="findAll" resultType="Shift">
		SELECT
			ROW_NUMBER() OVER(ORDER BY (SELECT EVENTTIME) DESC) AS ROWNUM
			,A.DATASEQ
			,A.SHIFTID
			,A.FACTORYID
			,(SELECT FACTORYNAME FROM DSP_FACTORY WHERE FACTORYID IN (A.FACTORYID)) AS FACTORYNAME
			,A.SHIFTNAME
			,A.SHIFTTYPE
			,LEFT(CONCAT(SUBSTRING(A.STARTTIME,1,2),':',SUBSTRING(A.STARTTIME,3,4)),5) AS STARTTIME
			,LEFT(CONCAT(SUBSTRING(A.ENDTIME,1,2),':',SUBSTRING(A.ENDTIME,3,4)),5) AS ENDTIME
			,A.CREATOR
			,FORMAT(A.CREATETIME, 'yyyy-MM-dd HH:mm:ss') AS CREATETIME
			,A.EVENT
			,A.EVENTUSER
			,FORMAT(A.EVENTTIME, 'yyyy-MM-dd HH:mm:ss') AS EVENTTIME
			,A.ISUSABLE
		FROM DSP_SHIFT A
		WHERE 1=1
		ORDER BY EVENTTIME DESC
    </select>    
    
	<insert id="create" parameterType="Shift" >
        INSERT INTO DSP_SHIFT (
				 COMPANYID
				,FACTORYID
				,SHIFTID
				,SHIFTNAME
				,SHIFTTYPE
				,STARTTIME
				,ENDTIME
				,CREATOR
				,CREATETIME
				,EVENTUSER
				,EVENTTIME
				,ISUSABLE	
        )
        VALUES (
				 'dx'
				,#{factoryid}
				,#{shiftid}
				,#{shiftname}				
				,#{shifttype}
				,CONCAT(REPLACE(#{starttime},':',''),'00')
			  	,CONCAT(REPLACE(#{endtime},':',''),'00')
				,#{creator}
				,GETDATE()
				,#{creator}
				,GETDATE()
				,#{isusable}		
        )
    </insert>
    
    <update id="modify" parameterType="Shift" >
		UPDATE DSP_SHIFT
           SET
          		 FACTORYID		= #{factoryid}
				,SHIFTID		= #{shiftid}
				,SHIFTNAME		= #{shiftname}
				,SHIFTTYPE		= #{shifttype}
				,STARTTIME		= CONCAT(REPLACE(#{starttime},':',''),'00')
				,ENDTIME		= CONCAT(REPLACE(#{endtime},':',''),'00')
				,EVENTUSER		= #{eventuser}
				,EVENTTIME		= GETDATE()
				,ISUSABLE		= #{isusable}
		WHERE DATASEQ	= 	#{dataseq}
    </update>  

<!--     <update id="remove" parameterType="list"> -->
<!-- 		UPDATE DSP_SHIFT  -->
<!-- 		SET ISUSABLE= 'N' -->
<!-- 			,EVENTUSER = 'idrAdmin' -->
<!-- 			,EVENTTIME = GETDATE()		 -->
<!-- 		WHERE 1=1 AND DATASEQ IN -->
<!-- 		<foreach collection="list" item="data" index="index" separator="," open="(" close=")"> -->
<!-- 	        #{data} -->
<!-- 	     </foreach> -->
<!--     </update> -->

	<delete id="remove" parameterType="list">
		DELETE FROM DSP_SHIFT
		WHERE 1=1 AND DATASEQ IN
		<foreach collection="list" item="data" index="index" separator="," open="(" close=")">
	        #{data}
	     </foreach>
	</delete>
</mapper>
