<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.idr.pdd.mapper.MaterialMasterMapper">

	<select id="findAll" resultType="Material" parameterType="Code">
		SELECT
		MATERIALID AS CODE
		, MATERIALNAME AS VALUE
		FROM DSP_MATERIAL
		WHERE FACTORYID=#{factoryid}
	</select>



</mapper>
