<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.idr.pdd.mapper.ModelVehicleInfoMapper">

	<select id="findAll" resultType="CM0501">
		SELECT
		A.COMPANY_CD
		, A.BIZ_CD
		, A.MODEL_ID
		, A.MODEL_NM
		, A.MODEL_DESC
		, A.USE_YN
		, A.FST_REG_USER_ID
		, FORMAT(A.FST_REG_DT, 'yyyy-MM-dd HH:mm:ss') AS FST_REG_DT
		, A.FNL_EDIT_USER_ID
		, FORMAT(A.FNL_EDIT_DT, 'yyyy-MM-dd HH:mm:ss') AS FNL_EDIT_DT
		FROM CM0501 A
		WHERE 1=1
		AND A.COMPANY_CD = 'dx'
		ORDER BY A.MODEL_ID ASC
	</select>

	<update id="save" parameterType="CM0501" >
		MERGE INTO CM0501 AS A
		USING (
			SELECT 1 AS DUM
		) AS B
		ON (
			A.MODEL_ID = #{modelid}
			)
		WHEN MATCHED THEN
			UPDATE SET 
				 MODEL_NM			= #{modelnm}
				,MODEL_DESC			= #{modeldesc}
				,USE_YN				= #{useyn}
				,FNL_EDIT_USER_ID	= #{fnledituserid}
				,FNL_EDIT_DT		= FORMAT(SYSDATETIME(), 'yyyy-MM-dd HH:mm:ss')
		WHEN NOT MATCHED THEN 
			INSERT(
				 COMPANY_CD
				,BIZ_CD
				,MODEL_ID
				,MODEL_NM
				,MODEL_DESC
				,USE_YN
				,FST_REG_USER_ID
				,FST_REG_DT		
				,FNL_EDIT_USER_ID	
				,FNL_EDIT_DT	
			) 
			VALUES(
				 'dx'
				,'SP1'
				,#{modelid}
				,#{modelnm}
				,#{modeldesc}
				,#{useyn}
				,#{fstreguserid}
				,FORMAT(SYSDATETIME(), 'yyyy-MM-dd HH:mm:ss')
				,#{fnledituserid}
				,FORMAT(SYSDATETIME(), 'yyyy-MM-dd HH:mm:ss')
			)
		;
	</update>

    <update id="remove" parameterType="list">
		<foreach collection="list" item="data" open="" close="" separator=";">
		UPDATE CM0501 
		SET USE_YN= 'N'
			,FNL_EDIT_USER_ID = ''
			,FNL_EDIT_DT = FORMAT(SYSDATETIME(), 'yyyy-MM-dd HH:mm:ss')
    	WHERE
			COMPANY_CD = 'dx' 
			AND BIZ_CD = 'SP1' 
			AND MODEL_ID = #{data.modelid}
		</foreach>
    </update>

</mapper>
