<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.idr.pdd.mapper.ModelVehicleInfoMapper">

	<select id="findAll" resultType="CM0501">
		SELECT
		  ROW_NUMBER() OVER(ORDER BY (SELECT A.FNL_EDIT_DT) DESC) AS ROWNUM
		, A.DATASEQ
		, A.COMPANY_CD
		, A.BIZ_CD
		, A.MODEL_ID
		, A.MODEL_NM
		, A.MODEL_DESC
		, A.USE_YN
		, A.FST_REG_USER_ID
		, FORMAT(A.FST_REG_DT, 'yyyy-MM-dd HH:mm:ss') AS FST_REG_DT
		, A.FNL_EDIT_USER_ID
		, FORMAT(A.FNL_EDIT_DT, 'yyyy-MM-dd HH:mm:ss') AS FNL_EDIT_DT
		FROM CM0501 A
		WHERE 1=1
		AND A.COMPANY_CD = 'dx'
		ORDER BY A.FNL_EDIT_DT DESC
	</select> 	

	<insert id="create" parameterType="CM0501">
			INSERT INTO CM0501(
        		 COMPANY_CD 
        		,BIZ_CD 
        		,MODEL_ID
        		,MODEL_NM 
        		,MODEL_DESC
        		,USE_YN 
        		,FST_REG_USER_ID 
        		,FST_REG_DT
        		,FNL_EDIT_USER_ID
        		,FNL_EDIT_DT			
			) 
			VALUES(
				 'dx'
				,'SP1'
				,#{modelid}
				,#{modelnm}			
				,#{modeldesc}
				,#{useyn}
				,'idrAdmin'
				,getdate()
				,'idrAdmin'
				,getdate()		
			)
	</insert>
	
    <update id="modify" parameterType="CM0501" >
			UPDATE CM0501
			SET 
				 MODEL_ID			= #{modelid}
				,MODEL_NM			= #{modelnm}			
				,MODEL_DESC   		= #{modeldesc}
				,USE_YN				= #{useyn}
				,FNL_EDIT_USER_ID   = 'idrAdmin'
				,FNL_EDIT_DT  		= getdate()
			WHERE DATASEQ			= #{dataseq}
	</update>
	
    <update id="remove" parameterType="list">
    	UPDATE CM0501
		SET USE_YN				= 'N',
			FNL_EDIT_USER_ID 	= 'idrAdmin',
			FNL_EDIT_DT  		= getdate()
		WHERE 1=1 AND DATASEQ IN
		<foreach collection="list" item="data" index="index" separator="," open="(" close=")">
	        #{data}
	     </foreach>
    </update>

</mapper>
