<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd"> 

<mapper namespace="com.idr.pdd.mapper.MonitoringMapper">


	<select id="planAM" resultType="Monitoring"
		parameterType="Monitoring">
			SELECT
    dt,
    SUM(FIRSTTIME_GOOD_QTY_SUM) AS good_qty,
    SUM(PLAN_QTY) AS prod_qty,
     CASE
       WHEN SUM(FIRSTTIME_GOOD_QTY_SUM) = 0 OR SUM(PLAN_QTY) = 0  THEN NULL
       ELSE ROUND(SUM(FIRSTTIME_GOOD_QTY_SUM) * 100.0 / SUM(PLAN_QTY), 1)
    END AS per
FROM (
    SELECT
        A.dt AS dt,
        (SELECT SUM(FIRSTTIME_GOOD_QTY)
         FROM DSP_WORK_CONTENTS C
         WHERE C.WORKDAILY_SEQ = B.DATASEQ
           AND C.ISUSABLE = 'Usable') AS FIRSTTIME_GOOD_QTY_SUM,
        B.PLAN_QTY
    FROM CheckDayOff A
    LEFT JOIN DSP_WORKDAILY_REPORT B ON A.dt = B.WORK_DATE
    WHERE 1 = 1
      AND B.FACTORYID = #{factoryid}
      AND B.MATERIALID = #{materialid}
      AND B.SHIFTID LIKE '%AM'
      AND B.WORK_DATE = CONVERT(VARCHAR, CONVERT(DATE,
		#{workDate}),112)
) AS D
GROUP BY dt
ORDER BY dt;
	</select>

	<select id="planPM" resultType="Monitoring"
		parameterType="Monitoring">
			SELECT
    dt,
    SUM(FIRSTTIME_GOOD_QTY_SUM) AS good_qty,
    SUM(PLAN_QTY) AS prod_qty,
     CASE
       WHEN SUM(FIRSTTIME_GOOD_QTY_SUM) = 0 OR SUM(PLAN_QTY) = 0  THEN NULL
       ELSE ROUND(SUM(FIRSTTIME_GOOD_QTY_SUM) * 100.0 / SUM(PLAN_QTY), 1)
    END AS per
FROM (
    SELECT
        A.dt AS dt,
        (SELECT SUM(FIRSTTIME_GOOD_QTY)
         FROM DSP_WORK_CONTENTS C
         WHERE C.WORKDAILY_SEQ = B.DATASEQ
           AND C.ISUSABLE = 'Usable') AS FIRSTTIME_GOOD_QTY_SUM,
        B.PLAN_QTY
    FROM CheckDayOff A
    LEFT JOIN DSP_WORKDAILY_REPORT B ON A.dt = B.WORK_DATE
    WHERE 1 = 1
      AND B.FACTORYID = #{factoryid}
      AND B.MATERIALID = #{materialid}
      AND B.SHIFTID LIKE '%PM'
      AND B.WORK_DATE = CONVERT(VARCHAR, CONVERT(DATE,
		#{workDate}),112)
) AS D
GROUP BY dt
ORDER BY dt;
	</select>

	<select id="rejectper" resultType="Monitoring"
		parameterType="Monitoring">
		SELECT SUM(PROD_QTY)AS TOTALPROD_QTY
		,SUM(FIRSTTIME_FAIL_QTY)AS
		TOTALFAIL_QTY,
		SUM(FIRSTTIME_GOOD_QTY)AS TOTAL_GOOD,
		ROUND(SUM(FIRSTTIME_FAIL_QTY) * 100.0 / NULLIF(SUM(FIRSTTIME_FAIL_QTY) + SUM(B.FIRSTTIME_GOOD_QTY), 0), 3) AS PER
		FROM
		DSP_WORKDAILY_REPORT A
		JOIN DSP_WORK_CONTENTS B ON
		A.DATASEQ
		=B.WORKDAILY_SEQ
		WHERE A.WORK_DATE
		=CONVERT(VARCHAR, CONVERT(DATE,
		#{workDate}),112)
		AND
		A.FACTORYID
		= #{factoryid}
		AND A.MATERIALID =#{materialid}
		AND A.ISUSABLE IS NOT NULL
		AND B.ISUSABLE IS NOT NULL
		
	</select>

	<select id="uptime" resultType="String"
		parameterType="Monitoring">
		SELECT
		COALESCE (SUM(
		DATEDIFF(SECOND,
		CONVERT(datetime,
		STUFF(STUFF(A.WORKTIME_FROM, 3, 0, ':'), 6, 0, ':'), 108),
		CONVERT(datetime, STUFF(STUFF(A.WORKTIME_TO, 3, 0, ':'), 6, 0, ':'),
		108)
		)) ,0)AS UPTIME
		FROM
		DSP_WORK_CONTENTS A
		JOIN DSP_WORKDAILY_REPORT B
		ON
		A.WORKDAILY_SEQ = B.DATASEQ
		WHERE
		B.LINEID =(
		SELECT
		TOP 1 LOCATIONID
		FROM
		DSP_LOCATION dl
		WHERE
		1 = 1
		AND FACTORYID = #{factoryid}
		AND ISUSABLE =
		'Y'
		ORDER BY
		LOCATIONID DESC
		)
		AND B.WORK_DATE = CONVERT(VARCHAR,
		CONVERT(DATE,
		#{workDate}),112)
		AND A.ISUSABLE ='Usable'
		AND B.ISUSABLE
		='Usable'
	</select>

	<select id="downtime" resultType="String"
		parameterType="Monitoring">
		SELECT
		COALESCE (SUM(
		DATEDIFF(SECOND,
		CONVERT(datetime,
		STUFF(STUFF(A.NOTOPERATETIME_FROM , 3, 0, ':'), 6, 0, ':'), 108),
		CONVERT(datetime, STUFF(STUFF(A.NOTOPERATETIME_TO, 3, 0, ':'), 6, 0,
		':'), 108)
		)) ,0)AS DOWNTIME
		FROM
		DSP_NOTOPERATE_CONTENTS A
		JOIN
		DSP_WORKDAILY_REPORT B
		ON
		A.WORKDAILY_SEQ = B.DATASEQ
		WHERE
		B.LINEID =(
		SELECT
		TOP 1 LOCATIONID
		FROM
		DSP_LOCATION dl
		WHERE
		1 = 1
		AND FACTORYID =
		#{factoryid}
		AND ISUSABLE = 'Y'
		ORDER BY
		LOCATIONID DESC
		)AND B.WORK_DATE
		= CONVERT(VARCHAR,
		CONVERT(DATE,
		#{workDate}),112)
		AND A.ISUSABLE
		='Usable'
		AND B.ISUSABLE ='Usable'
	</select>


	<!--
	 <select id="findstorage" resultType="Monitoring" parameterType="Monitoring"> 
		SELECT A.QTY , B.STORAGENAME, A.MATERIALID FROM DSP_INVENTORY A JOIN DSP_STORAGE 
		B ON A.FACTORYID =#{factoryid} AND B.FACTORYID =#{factoryid} AND A.INVENTORYDATE 
		=#{workDate} AND A.STORAGEID =B.STORAGEID AND A.ISUSABLE ='USABLE' AND B.ISUSABLE 
		='Y' </select>
		
		 <select id="findreject2" resultType="Monitoring" parameterType="Monitoring"> 
		SELECT COUNT(case when A.REJECT_ITEMID='RI01' then 1 end)AS RI01, COUNT(case 
		when A.REJECT_ITEMID='RI02' then 1 end)AS RI02, COUNT(case when A.REJECT_ITEMID='RI03' 
		then 1 end)AS RI03, COUNT(case when A.REJECT_ITEMID='RI04' then 1 end)AS 
		RI04 FROM DSP_REJECT_CONTENTS A JOIN DSP_WORKDAILY_REPORT B ON A.WORKDAILY_SEQ 
		=B.DATASEQ WHERE B.FACTORYID =#{factoryid} AND B.LINEID =#{lineid} AND A.ISUSABLE 
		IS NOT NULL AND B.ISUSABLE IS NOT NULL AND B.WORK_DATE =CONVERT(VARCHAR,CONVERT(DATE, 
		#{workDate}),112) </select>
		
		 <select id="findnotoperate" resultType="Monitoring" 
		parameterType="Monitoring"> SELECT LEFT(CONCAT(SUBSTRING(A.NOTOPERATETIME_FROM,1,2),':',SUBSTRING(A.NOTOPERATETIME_FROM,3,4)),5) 
		AS NOTOPERATETIME_FROM, LEFT(CONCAT(SUBSTRING(A.NOTOPERATETIME_TO,1,2),':',SUBSTRING(A.NOTOPERATETIME_TO,3,4)),5) 
		AS NOTOPERATETIME_TO, (SELECT LOCATIONNAME FROM DSP_LOCATION WHERE LOCATIONID=#{lineid})AS 
		LINEID FROM DSP_NOTOPERATE_CONTENTS A JOIN DSP_WORKDAILY_REPORT B ON A.WORKDAILY_SEQ 
		=B.DATASEQ WHERE B.WORK_DATE =CONVERT(VARCHAR, CONVERT(DATE, #{workDate}),112) 
		AND B.FACTORYID =#{factoryid} AND A.ISUSABLE = 'Usable' AND B.LINEID =#{lineid} 
		</select>
		
		 <select id="findproduct1" resultType="Monitoring" parameterType="Monitoring"> 
		SELECT SUM(CASE WHEN B.SHIFTID = 'KEM-AM' THEN A.PROD_QTY ELSE 0 END) AS 
		AM_PROD_QTY, SUM(CASE WHEN B.SHIFTID = 'KEM-PM' THEN A.PROD_QTY ELSE 0 END) 
		AS PM_PROD_QTY FROM DSP_WORK_CONTENTS A JOIN DSP_WORKDAILY_REPORT B ON A.WORKDAILY_SEQ 
		= B.DATASEQ WHERE B.WORK_DATE = CONVERT(VARCHAR, CONVERT(DATE, #{workDate}),112) 
		AND B.FACTORYID = #{factoryid} AND B.LINEID = #{lineid} AND B.ISUSABLE IS 
		NOT NULL AND A.ISUSABLE IS NOT NULL </select> 
		
		<select id="findproduct2" resultType="Monitoring" 
		parameterType="Monitoring"> SELECT SUM(CASE WHEN SHIFTID = 'KEM-AM' THEN 
		PLAN_QTY ELSE 0 END) AS AM_PLAN_QTY, SUM(CASE WHEN SHIFTID = 'KEM-PM' THEN 
		PLAN_QTY ELSE 0 END) AS PM_PLAN_QTY FROM DSP_WORKDAILY_REPORT WHERE WORK_DATE 
		= CONVERT(VARCHAR, CONVERT(DATE, #{workDate}),112) AND FACTORYID = #{factoryid} 
		AND LINEID = #{lineid} AND ISUSABLE IS NOT NULL </select> -->
		
		
	<select id="deliveryComplianceRate" resultType="Monitoring" parameterType="Monitoring">
		SELECT
		    dt,
		    SUM(FIRSTTIME_GOOD_QTY_SUM) AS TOTAL_FIRSTTIME_GOOD_QTY_SUM,
		    SUM(PLAN_QTY) AS TOTAL_PLAN_QTY,
		    ROUND(SUM(FIRSTTIME_GOOD_QTY_SUM) * 100.0 / SUM(PLAN_QTY) , 1) AS per
		FROM (
		    SELECT
		        A.dt AS dt,
		        (SELECT SUM(FIRSTTIME_GOOD_QTY)
		         FROM DSP_WORK_CONTENTS C
		         WHERE C.WORKDAILY_SEQ = B.DATASEQ
		           AND C.ISUSABLE = 'Usable') AS FIRSTTIME_GOOD_QTY_SUM,
		        B.PLAN_QTY
		    FROM CheckDayOff A
		    LEFT JOIN DSP_WORKDAILY_REPORT B ON A.dt = B.WORK_DATE
		    WHERE 1 = 1
		      AND B.FACTORYID = #{factoryid}
		      AND B.MATERIALID = #{materialid}
		      AND B.WORK_DATE BETWEEN CONVERT(VARCHAR(8), DATEADD(DAY, -13, #{workDate}), 112) AND CONVERT(VARCHAR(8), DATEADD(DAY, 0, #{workDate}), 112)
		) AS D
		GROUP BY dt
		ORDER BY dt;
	</select>
	
	<select id="rejectRate" resultType="Monitoring" parameterType="Monitoring">
		SELECT
		    dt,
		    SUM(TOTALPROD_QTY) AS TOTALPROD_QTY,
		    SUM(TOTALFAIL_QTY) AS TOTALFAIL_QTY,
		    SUM(TOTAL_GOOD) AS TOTAL_GOOD,
		    ROUND(SUM(TOTALFAIL_QTY) * 100.0 / NULLIF(SUM(TOTALFAIL_QTY) + SUM(TOTAL_GOOD), 0), 1) AS PER
		FROM (
		    SELECT
		        A.dt AS dt,
		        (SELECT SUM(PROD_QTY)
		         FROM DSP_WORK_CONTENTS C
		         WHERE C.WORKDAILY_SEQ = B.DATASEQ
		           AND C.ISUSABLE = 'Usable') AS TOTALPROD_QTY,
		        (SELECT SUM(FIRSTTIME_FAIL_QTY)
		         FROM DSP_WORK_CONTENTS C
		         WHERE C.WORKDAILY_SEQ = B.DATASEQ
		           AND C.ISUSABLE = 'Usable') AS TOTALFAIL_QTY,
		        (SELECT SUM(FIRSTTIME_GOOD_QTY)
		         FROM DSP_WORK_CONTENTS C
		         WHERE C.WORKDAILY_SEQ = B.DATASEQ
		           AND C.ISUSABLE = 'Usable') AS TOTAL_GOOD
		    FROM CheckDayOff A
		    LEFT JOIN DSP_WORKDAILY_REPORT B ON A.dt = B.WORK_DATE
		    WHERE 1 = 1
		      AND B.FACTORYID = #{factoryid}
		      AND B.MATERIALID = #{materialid}
		      AND B.WORK_DATE BETWEEN CONVERT(VARCHAR(8), DATEADD(DAY, -13, #{workDate}), 112) AND CONVERT(VARCHAR(8), DATEADD(DAY, 0, #{workDate}), 112)
		) AS D
		GROUP BY dt
		ORDER BY dt;
	</select>
	
	<select id="chart3" resultType="String" parameterType="Monitoring">
		
	</select>

</mapper>
