<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.idr.pdd.mapper.NotoperateContentsMapper">

    <select id="findAll" parameterType="NotoperateContents" resultType="NotoperateContents">
        SELECT 
        	A.DATASEQ, 
        	A.WORKDAILY_SEQ,
        	B.RULESYSID, 
        	B.FACTORYID, 
        	B.LINEID, 
        	B.SHIFTID, 
        	B.WORK_DATE, 
        	A.NOTOPERATETIME_FROM, 
        	A.NOTOPERATETIME_TO, 
        	A.HANDS, 
        	A.MANHOUR, 
        	A.CAUSE, 
        	A.CORRECTIVE_ACTION, 
        	A.NOTES, 
        	A.IMAGES, 
        	A.MOVIES, 
        	A.CREATOR, 
        	A.CREATETIME, 
        	A.EVENT, 
        	A.EVENTUSER, 
        	A.EVENTTIME, 
        	A.ISUSABLE, 
        	B.TID 
        FROM DSP_NOTOPERATE_CONTENTS A JOIN DSP_WORKDAILY_REPORT B
		ON A.WORKDAILY_SEQ = B.DATASEQ 
        WHERE 1=1
        	AND WORKDAILY_SEQ = #{workdailySeq}
    </select>

</mapper>
