<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.idr.pdd.mapper.RejectContentsMapper">

    <select id="findAll" parameterType="RejectContents" resultType="RejectContents">
        SELECT 
        	ROW_NUMBER() OVER(ORDER BY (SELECT 1)) AS ROWNUM,
        	A.DATASEQ, 
        	A.WORKDAILY_SEQ,
        	A.REJECT_ITEMID, 
        	(SELECT TOP 1 COMM_CD_NM  FROM SC_COMM_CD WHERE COMM_CD IN (A.REJECT_ITEMID) AND COMM_GRP_CD ='REJECT_ITEMID') AS REJECT_ITEMNAME, 
        	A.REJECT_TYPE,
        	(SELECT TOP 1 COMM_CD_NM AS VALUE FROM SC_COMM_CD WHERE COMM_GRP_CD IN ('RI01','RI02','RI03','RI04') AND COMM_CD = A.REJECT_TYPE) AS REJECT_TYPENAME,
        	A.FIRSTTIME_REJECT_QTY, 
        	A.REWORK_REJECT_QTY, 
        	A.CREATOR, 
        	A.CREATETIME, 
        	A.EVENT, 
        	A.EVENTUSER, 
        	A.EVENTTIME, 
        	A.ISUSABLE, 
        	B.TID 
        FROM DSP_REJECT_CONTENTS A JOIN DSP_WORKDAILY_REPORT B
		ON A.WORKDAILY_SEQ = B.DATASEQ 
        WHERE 1=1
       	 	AND A.ISUSABLE = 'Usable'
            AND WORKDAILY_SEQ = #{workdailySeq}
    </select>
    
    <insert id="create" parameterType="RejectContents">
		 INSERT INTO DSP_REJECT_CONTENTS (
             WORKDAILY_SEQ
             , REJECT_ITEMID
             , FIRSTTIME_REJECT_QTY
             , REWORK_REJECT_QTY
             , REJECT_TYPE
             ,CREATOR
			 ,CREATETIME
			 ,EVENT
			 ,EVENTUSER
			 ,EVENTTIME
			 ,ISUSABLE
			 ,TID
        )
        VALUES (
            #{workdailySeq},
			#{rejectItemid},
			#{firsttimeRejectQty},
			#{reworkRejectQty},
			#{rejectType},
			#{creator},
			GETDATE(),
			#{event},
			#{eventuser},
			GETDATE(),
			'Usable',
			#{tid}
        );

	</insert>

	<update id="modify" parameterType="WorkDailyReport">
		UPDATE DSP_REJECT_CONTENTS
		SET
         REJECT_ITEMID= #{rejectItemid}
        , FIRSTTIME_REJECT_QTY= #{firsttimeRejectQty}
        , REWORK_REJECT_QTY= #{reworkRejectQty}
        , EVENTTIME = GETDATE()
		WHERE
		DATASEQ = #{dataseq}
	</update>

	<update id="remove" parameterType="list">
		UPDATE DSP_REJECT_CONTENTS
		SET ISUSABLE= null
		WHERE 1=1 AND DATASEQ IN
		<foreach collection="list" item="data" index="index"
			separator="," open="(" close=")">
			#{data}
		</foreach>
	</update>

</mapper>
