<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.idr.pdd.mapper.RejectContentsMapper">

    <select id="findAll" parameterType="RejectContents" resultType="RejectContents">
        SELECT 
        	DATASEQ, 
        	RULESYSID, 
        	FACTORYID, 
        	LINEID, 
        	SHIFTID, 
        	WORK_DATE, 
        	OPERATIONID, 
        	REJECT_ITEMID, 
        	MODELID, 
        	FIRSTTIME_REJECT_QTY, 
        	REWORK_REJECT_QTY, 
        	IMAGES, 
        	MOVIES, 
        	CREATOR, 
        	CREATETIME, 
        	EVENT, 
        	EVENTUSER, 
        	EVENTTIME, 
        	ISUSABLE, 
        	TID 
        FROM DSP_REJECT_CONTENTS
        WHERE 1=1
        	AND FACTORYID = #{factoryid} 
			AND LINEID = #{lineid} 
			AND SHIFTID = #{shiftid} 
			AND WORK_DATE = #{workDate} 

    </select>

</mapper>
