<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.idr.pdd.mapper.ScenarioGroupingMapper">

	<select id="findAll1" resultType="CM0901">
		SELECT
		 A.DATASEQ
		,A.COMPANY_CD
		,A.BIZ_CD
		,A.SCENARIO_ID
		,A.SCENARIO_NM
		,A.AXIS_ID
		,A.GROUPING_ID
		,A.FST_REG_USER_ID
		,FORMAT(A.FST_REG_DT, 'yyyy-MM-dd HH:mm:ss') AS FST_REG_DT
		,A.FNL_EDIT_USER_ID
		,FORMAT(A.FNL_EDIT_DT, 'yyyy-MM-dd HH:mm:ss') AS FNL_EDIT_DT
		,A.ISUSABLE
		,A.TID
		FROM CM0901 A
		WHERE 1=1
		ORDER BY FNL_EDIT_DT DESC
	</select>

	<select id="findAll2" parameterType="CM0901" resultType="CM0902">
		SELECT
		 A.DATASEQ
		,A.COMPANY_CD
		,A.BIZ_CD
		,A.SCENARIO_ID
		,A.PQCD_ID
		,A.ACTIVITY_ID
		,A.FST_REG_USER_ID
		,FORMAT(A.FST_REG_DT, 'yyyy-MM-dd HH:mm:ss') AS FST_REG_DT
		,A.FNL_EDIT_USER_ID
		,FORMAT(A.FNL_EDIT_DT, 'yyyy-MM-dd HH:mm:ss') AS FNL_EDIT_DT
		,A.ISUSABLE
		,A.TID
		FROM CM0902 A
		INNER JOIN CM0901 B ON (B.COMPANY_CD = A.COMPANY_CD AND B.BIZ_CD = A.BIZ_CD
		AND B.SCENARIO_ID = A.SCENARIO_ID)
		WHERE 1=1
		AND A.COMPANY_CD = 'dx'
		AND A.BIZ_CD = 'SP1'
		AND A.SCENARIO_ID = #{scenarioid}
		ORDER BY FNL_EDIT_DT DESC
	</select>
	
	<insert id="create1" parameterType="CM0901">
			INSERT INTO CM0901(
				 COMPANY_CD
				,BIZ_CD
				,SCENARIO_ID
				,SCENARIO_NM
				,AXIS_ID
				,GROUPING_ID
				,FST_REG_USER_ID
				,FST_REG_DT
				,FNL_EDIT_USER_ID
				,FNL_EDIT_DT
				,ISUSABLE			
			) 
			VALUES(
				 'dx'
				,'SP1'
				,#{scenarioid}
				,#{scenarionm}			
				,#{axisid}
				,#{groupingid}
				,'idrAdmin'
				,GETDATE()
				,'idrAdmin'
				,GETDATE()
				,#{isusable}			
			)
	</insert>
	
    <update id="modify1" parameterType="CM0901" >
			UPDATE CM0901
			SET 
				 SCENARIO_ID 		= #{scenarioid}
				,SCENARIO_NM 		= #{scenarionm}
				,AXIS_ID	 		= #{axisid}
				,GROUPING_ID 		= #{groupingid}
				,FNL_EDIT_USER_ID	='idrAdmin'
				,FNL_EDIT_DT		= GETDATE()
				,ISUSABLE 			= #{isusable}
			WHERE DATASEQ	 		= #{dataseq}
	</update>

    <update id="remove1" parameterType="list">
    	UPDATE CM0901
		SET ISUSABLE			= 'N',
			FNL_EDIT_USER_ID 	= 'idrAdmin',
			FNL_EDIT_DT 		= GETDATE()
		WHERE 1=1 AND DATASEQ IN
		<foreach collection="list" item="data" index="index" separator="," open="(" close=")">
	        #{data}
	     </foreach>
    </update>

	<insert id="create2" parameterType="CM0902">
			INSERT INTO CM0902(
				 COMPANY_CD
				,BIZ_CD
				,SCENARIO_ID
				,PQCD_ID
				,ACTIVITY_ID
				,FST_REG_USER_ID
				,FST_REG_DT
				,FNL_EDIT_USER_ID
				,FNL_EDIT_DT
				,ISUSABLE			
			) 
			VALUES(
				 'dx'
				,'SP1'
				,#{scenarioid}
				,#{pqcdid}			
				,#{activityid}
				,'idrAdmin'
				,GETDATE()
				,'idrAdmin'
				,GETDATE()
				,#{isusable}			
			)
	</insert>
	
    <update id="modify2" parameterType="CM0902" >
			UPDATE CM0902
			SET 
				 SCENARIO_ID 		= #{scenarioid}
				,PQCD_ID 			= #{pqcdid}
				,ACTIVITY_ID 		= #{activityid}
				,FNL_EDIT_USER_ID	='idrAdmin'
				,FNL_EDIT_DT		= GETDATE()
				,ISUSABLE			= #{isusable}
			WHERE DATASEQ	 		= #{dataseq}
	</update>

    <update id="remove2" parameterType="list">
    	UPDATE CM0902
		SET ISUSABLE			= 'N',
			FNL_EDIT_USER_ID 	= 'idrAdmin',
			FNL_EDIT_DT 		= GETDATE()
		WHERE 1=1 AND DATASEQ IN
		<foreach collection="list" item="data" index="index" separator="," open="(" close=")">
	        #{data}
	     </foreach>
    </update>

</mapper>
