<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.idr.pdd.mapper.SimulPerformanceDataMapper">

	<select id="sundaycount" parameterType="String">
		SELECT
		COUNT(*)AS SUNDAY,
		(SELECT COUNT(*)FROM CheckDayOff WHERE dt BETWEEN CONVERT(DATE,
		#{start})
		AND CONVERT(DATE, #{end}))AS TOTAL
		FROM CheckDayOff
		WHERE dt
		BETWEEN CONVERT(DATE, #{start}) AND CONVERT(DATE,
		#{end})
		AND flag =1
	</select>

	<select id="productplanfind" parameterType="String"
		resultType="PerByProductPlan">
		SELECT
		ORDER_NAME ,
		ITEM_ID ,
		ITEM_NAME ,
		(SELECT
		COUNT(*)FROM
		SIMULLATOR_FAIR_PERFORMANCE WHERE
		ORDER_NAME=A.ORDER_NAME)AS
		TOTAL_PROCESS_NUM,
		COUNT(*)AS PROCESS_PER_NUM,
		(SELECT COUNT(*)FROM
		SIMULLATOR_FAIR_PERFORMANCE WHERE PROCESS_RESULT ='불량'
		AND
		ORDER_NAME=A.ORDER_NAME)AS BAD_NUM,
		(SELECT (SELECT COUNT(*)FROM
		SIMULLATOR_FAIR_PERFORMANCE WHERE
		ORDER_NAME=A.ORDER_NAME)-COUNT(*)FROM SIMULLATOR_FAIR_PERFORMANCE
		WHERE ORDER_NAME=A.ORDER_NAME) AS REMAINING,
		CONVERT(VARCHAR(19),
		MIN(START_TIME), 120) AS START_TIME,
		CONVERT(VARCHAR(19),
		MAX(END_TIME), 120) AS END_TIME,
		CONVERT(VARCHAR(10), DATEDIFF(DAY, MIN(START_TIME), MAX(END_TIME))) + 'DAY' +' '+
		RIGHT('00' + CAST(DATEDIFF(HOUR, MIN(START_TIME), MAX(END_TIME)) % 24
		AS VARCHAR(2)), 2) + ':' +
		RIGHT('00' + CAST(DATEDIFF(MINUTE, MIN(START_TIME), MAX(END_TIME)) % 60 AS
		VARCHAR(2)), 2) + ':' +
		RIGHT('00' + CAST(DATEDIFF(SECOND, MIN(START_TIME), MAX(END_TIME)) % 60 AS
		VARCHAR(2)), 2) AS TAKEN_TIME,
		(SELECT (COUNT(*)/(SELECT COUNT(*)FROM
		SIMULLATOR_FAIR_PERFORMANCE
		WHERE
		ORDER_NAME=A.ORDER_NAME)*100)
		FROM
		SIMULLATOR_PRODUCTION_PLANNING P
		JOIN SIMULLATOR_FAIR_PERFORMANCE F
		ON
		F.START_TIME BETWEEN CONVERT(DATE,
		P.START_TIME) AND CONVERT(DATE,
		P.DELIVERY)
		WHERE
		P.ORDER_NAME=A.ORDER_NAME )AS DELIVERY_RATE
		FROM
		SIMULLATOR_FAIR_PERFORMANCE A
		WHERE CREATETIME BETWEEN CONVERT(DATE,
		#{start}) AND CONVERT(DATE,
		#{end})
		GROUP BY
		ORDER_NAME,ITEM_NAME,ITEM_ID
	</select>

	<select id="performanceByProcess" parameterType="String"
		resultType="performanceByProcess">

		SELECT
		ORDER_NAME,
		ITEM_ID,
		ITEM_NAME,
		PROCESS_NAME,
		CAST(SUM(CONVERT(NUMERIC(5, 2), PROCESS_TIME)) / COUNT(*) AS
		NUMERIC(5, 2)) AS AVG_PROCESS_TIME,
		(SELECT COUNT(*)FROM
		SIMULLATOR_FAIR_PERFORMANCE WHERE
		ORDER_NAME=A.ORDER_NAME AND
		ITEM_NAME=A.ITEM_NAME AND
		PROCESS_NAME=A.PROCESS_NAME)AS TOTAL_PNUM,
		COUNT(*)AS PROCESS_PER_NUM,
		(SELECT COUNT(*)FROM
		SIMULLATOR_FAIR_PERFORMANCE WHERE
		ORDER_NAME=A.ORDER_NAME AND
		ITEM_NAME=A.ITEM_NAME AND
		PROCESS_NAME=A.PROCESS_NAME AND
		PROCESS_RESULT ='불량'
		AND START_TIME BETWEEN CONVERT(DATE, #{start}) AND
		CONVERT(DATE,
		#{end})
		AND END_TIME BETWEEN CONVERT(DATE, #{start}) AND
		CONVERT(DATE,
		#{end}))AS BAD_NUM,
		(SELECT
		(SELECT COUNT(*)
		FROM
		SIMULLATOR_FAIR_PERFORMANCE
		WHERE ORDER_NAME=A.ORDER_NAME AND
		ITEM_NAME=A.ITEM_NAME AND
		PROCESS_NAME=A.PROCESS_NAME)
		-COUNT(*)FROM
		SIMULLATOR_FAIR_PERFORMANCE WHERE ORDER_NAME=A.ORDER_NAME AND
		ITEM_NAME=A.ITEM_NAME AND PROCESS_NAME=A.PROCESS_NAME
		) AS REMAINING,
		CONVERT(VARCHAR(19),
		MIN(START_TIME), 120) AS START_TIME,
		CONVERT(VARCHAR(19),
		MAX(END_TIME), 120) AS END_TIME,
		CONVERT(VARCHAR(10), DATEDIFF(DAY, MIN(START_TIME), MAX(END_TIME))) +
		'DAY' +' '+
		RIGHT('00' + CAST(DATEDIFF(HOUR, MIN(START_TIME),
		MAX(END_TIME)) % 24 AS
		VARCHAR(2)), 2) + ':' +
		RIGHT('00' +
		CAST(DATEDIFF(MINUTE, MIN(START_TIME), MAX(END_TIME)) % 60 AS
		VARCHAR(2)), 2) + ':' +
		RIGHT('00' + CAST(DATEDIFF(SECOND,
		MIN(START_TIME), MAX(END_TIME)) % 60 AS
		VARCHAR(2)), 2) AS TAKEN_TIME
		FROM
		SIMULLATOR_FAIR_PERFORMANCE A
		WHERE
		START_TIME BETWEEN
		CONVERT(DATE,
		#{start}) AND CONVERT(DATE, #{end})
		GROUP BY
		ORDER_NAME,
		ITEM_ID,
		ITEM_NAME,
		PROCESS_NAME;

	</select>

	<select id="leadtime" parameterType="String"
		resultType="leadtime">
		SELECT
		ORDER_ID,
		ORDER_NAME,
		ITEM_ID,
		ITEM_NAME,
		PROCESS_NAME,
		CAST(AVG(CONVERT(NUMERIC(5, 2), PROCESS_TIME)) AS NUMERIC(5, 2)) AS
		PROCESS_TIME,
		CONCAT(
		AVG(ABS(DATEDIFF(SECOND, CONVERT(DATETIME2,
		END_TIME), CONVERT(DATETIME2, START_TIME))) /
		86400), ' DAY ',
		CONVERT(VARCHAR(8),
		DATEADD(SECOND,
		AVG(ABS(DATEDIFF(SECOND,
		CONVERT(DATETIME2, END_TIME), CONVERT(DATETIME2, START_TIME)))),
		0),
		108)) AS LEAD_TIME,
		(AVG(ABS(DATEDIFF(SECOND, CONVERT(DATETIME2,
		END_TIME), CONVERT(DATETIME2, START_TIME)))) -
		CAST(AVG(CONVERT(NUMERIC(5, 2), PROCESS_TIME)) AS NUMERIC(5, 2))) AS
		LOSS_TIME
		FROM
		SIMULLATOR_FAIR_PERFORMANCE A
		WHERE
		START_TIME BETWEEN
		CONVERT(DATE, #{start}) AND CONVERT(DATE, #{end})
		GROUP BY
		ORDER_ID,
		ORDER_NAME,
		ITEM_ID,
		ITEM_NAME,
		PROCESS_NAME;


	</select>



</mapper>
