<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.idr.pdd.mapper.SupplierInfoMapper">

	<select id="findAll" resultType="Vendor">
		SELECT
		 ROW_NUMBER() OVER(ORDER BY (SELECT EVENTTIME) DESC) AS ROWNUM
		,A.DATASEQ
		,A.VENDORID
		,A.FACTORYID
		,(SELECT FACTORYNAME FROM DSP_FACTORY WHERE FACTORYID IN (A.FACTORYID)) AS FACTORYNAME
		,A.VENDORNAME
		,A.VENDORNICKNAME
		,A.VENDOR_ADDRESS
		,A.VENDOR_CHARGEID
		,A.VENDOR_CONTACTEMAIL
		,A.VENDOR_CONTACTPHONENO
		,A.CREATOR
		,FORMAT(A.CREATETIME, 'yyyy-MM-dd HH:mm:ss') AS CREATETIME
		,A.EVENT
		,A.EVENTUSER
		,FORMAT(A.EVENTTIME, 'yyyy-MM-dd HH:mm:ss') AS EVENTTIME
		,A.ISUSABLE
		,A.TID
		FROM DSP_VENDOR A
		WHERE 1=1
		ORDER BY EVENTTIME DESC
	</select>	

	<insert id="create" parameterType="Vendor">
			INSERT INTO DSP_VENDOR(
        		 VENDORID
        		,FACTORYID
        		,VENDORNAME
        		,VENDORNICKNAME 
        		,VENDOR_ADDRESS 
        		,VENDOR_CHARGEID 
        		,VENDOR_CONTACTEMAIL 
        		,VENDOR_CONTACTPHONENO
        		,CREATOR
        		,CREATETIME
				,ISUSABLE			
			) 
			VALUES(
				 #{vendorid}
				,#{factoryid}
				,#{vendorname}
				,#{vendornickname}
				,#{vendoraddress}			
				,#{vendorchargeid}
				,#{vendorcontactemail}
				,#{vendorcontactphoneno}
				,#{creator}
				,getdate()
				,#{isusable}			
			)
	</insert>
	
    <update id="modify" parameterType="Vendor" >
			UPDATE DSP_VENDOR
			SET 
				 VENDORID		= #{vendorid}
				,FACTORYID 	 	= #{factoryid}
				,VENDORNAME		= #{vendorname}
				,VENDORNICKNAME	= #{vendornickname}
				,VENDOR_ADDRESS	= #{vendoraddress}			
				,VENDOR_CHARGEID	   = #{vendorchargeid}
				,VENDOR_CONTACTEMAIL   = #{vendorcontactemail}	
				,VENDOR_CONTACTPHONENO = #{vendorcontactphoneno}
				,EVENTUSER		= #{eventuser}
				,EVENTTIME 		= GETDATE()
				,ISUSABLE   	= #{isusable}
			WHERE DATASEQ		= #{dataseq}
	</update>

<!--     <update id="remove" parameterType="list"> -->
<!--     	UPDATE DSP_VENDOR -->
<!-- 		SET ISUSABLE	= 'N', -->
<!-- 			EVENTUSER 	= 'idrAdmin', -->
<!-- 			EVENTTIME 	= GETDATE() -->
<!-- 		WHERE 1=1 AND DATASEQ IN -->
<!-- 		<foreach collection="list" item="data" index="index" separator="," open="(" close=")"> -->
<!-- 	        #{data} -->
<!-- 	     </foreach> -->
<!--     </update> -->
	
	<delete id="remove" parameterType="list">
		DELETE FROM DSP_VENDOR 
    	WHERE 1=1 AND DATASEQ IN 
		<foreach collection="list" item="data" index="index" separator="," open="(" close=")">
	        #{data}
	     </foreach>
	</delete>
	
</mapper>
