<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.idr.pdd.mapper.WorkerManhourMapper">

    <select id="findAll" parameterType="WorkerManhour" resultType="WorkerManhour">
        SELECT 
            ROW_NUMBER() OVER(ORDER BY (SELECT 1)) AS ROWNUM,
			A.DATASEQ, 
			B.RULESYSID, 
			B.FACTORYID, 
			B.LINEID, 
			B.SHIFTID, 
			B.WORK_DATE, 
			A.INPUT_ITEMID, 
			(SELECT COMM_CD_NM  FROM SC_COMM_CD WHERE COMM_CD IN (A.INPUT_ITEMID)) AS INPUT_ITEMIDNAME, 
			A.HANDS, 
			A.MANHOUR, 
			A.CREATOR, 
			A.CREATETIME, 
			A.EVENT, 
			A.EVENTUSER, 
			A.EVENTTIME, 
			A.ISUSABLE, 
			B.TID, 
			A.WORKDAILY_SEQ 
		FROM DSP_WORKER_MANHOUR A JOIN DSP_WORKDAILY_REPORT B
		ON A.WORKDAILY_SEQ = B.DATASEQ 
		WHERE 1=1
			  AND WORKDAILY_SEQ = #{workdailySeq}
			  AND A.ISUSABLE = 'Usable'
			  
    </select>
    
    <insert id="create" parameterType="WorkerManhour" >
        INSERT INTO DSP_WORKER_MANHOUR (
        	INPUT_ITEMID, 
        	HANDS, 
        	MANHOUR, 
        	CREATOR, 
        	CREATETIME, 
        	EVENT, 
        	EVENTUSER, 
        	EVENTTIME, 
        	ISUSABLE, 
        	WORKDAILY_SEQ
        ) VALUES(
        	#{inputItemid},
        	#{hands},
        	#{manhour}, 
        	#{creator},
        	GETDATE(),
        	#{event},
            #{eventuser},
            #{eventtime},
            'Usable',
            #{workdailySeq}
        );

    </insert>
    
    <update id="modify" parameterType="WorkerManhour">
		UPDATE DSP_WORKER_MANHOUR
		SET
		HANDS = #{hands}
		, MANHOUR = #{manhour}
		, INPUT_ITEMID = #{inputItemid}
		, EVENTTIME = GETDATE()
		WHERE
		DATASEQ = #{dataseq}
	</update>
	
	<update id="remove" parameterType="list">
		UPDATE DSP_WORKER_MANHOUR
		SET ISUSABLE= null
		WHERE 1=1 AND DATASEQ IN
		<foreach collection="list" item="data" index="index"
			separator="," open="(" close=")">
			#{data}
		</foreach>
	</update>

</mapper>
