<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.idr.pdd.mapper.WorkContentsMapper">

    <select id="findAll" parameterType="WorkContents" resultType="WorkContents">
        SELECT 
        	A.DATASEQ,
        	A.WORKDAILY_SEQ, 
        	B.RULESYSID, 
        	B.FACTORYID, 
        	B.LINEID, 
        	B.SHIFTID, 
        	B.WORK_DATE, 
        	A.WORKTIME_FROM, 
        	A.WORKTIME_TO, 
        	A.MODELID, 
        	A.OPERATIONID, 
        	A.MANHOUR, 
        	A.PLAN_QTY, 
        	A.PROD_QTY, 
        	A.GOODSUM_QTY, 
        	A.FIRSTTIME_GOOD_QTY, 
        	A.FIRSTTIME_FAIL_QTY, 
        	A.REWORK_GOOD_QTY, 
        	A.REWORK_FAIL_QTY, 
        	A.NOTES, 
        	A.IMAGES, 
        	A.MOVIES, 
        	A.CREATOR, 
        	A.CREATETIME, 
        	A.EVENT, 
        	A.EVENTUSER, 
        	A.EVENTTIME, 
        	A.ISUSABLE, 
        	B.TID 
        FROM DSP_WORK_CONTENTS A JOIN DSP_WORKDAILY_REPORT B
		ON A.WORKDAILY_SEQ = B.DATASEQ 
        WHERE 1=1
            AND WORKDAILY_SEQ = #{workdailySeq}
    </select>

</mapper>
