<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.idr.pdd.mapper.WorkerInputMapper">

    <select id="findAll" parameterType="WorkerInput" resultType="WorkerInput">
        SELECT 
			DATASEQ, 
			RULESYSID, 
			FACTORYID, 
			LINEID, 
			SHIFTID, 
			WORK_DATE, 
			PERSONID, 
			OVERTIME, 
			NOTES, 
			CREATOR, 
			CREATETIME, 
			EVENT, 
			EVENTUSER, 
			EVENTTIME, 
			ISUSABLE, 
			TID
		FROM DSP_WORKER_INPUT
		WHERE 1=1
			  AND FACTORYID = #{factoryid} 
			  AND LINEID = #{lineid} 
			  AND SHIFTID = #{shiftid} 
			  AND WORK_DATE = #{workDate} 
    </select>

</mapper>
