<?xml version="1.0" encoding="UTF-8"?> 

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.idr.pdd.mapper.WorkerInfoMapper">

	<select id="findAll" resultType="WorkerInfo">
		SELECT
			 A.COMPANYID
			,A.PERSONID
			,A.FACTORYID
			,(SELECT FACTORYNAME FROM DSP_FACTORY WHERE FACTORYID IN (A.FACTORYID)) AS FACTORYNAME
			,A.PERSONNAME
			,A.DESCRIPTION
			,A.PERSONCLASSID
			,A.WORKCREWID
			,A.SHIFTID
			,A.CREATOR
			,FORMAT(A.CREATETIME, 'yyyy-MM-dd HH:mm:ss') AS CREATETIME
			,A.EVENT
			,A.EVENTUSER
			,FORMAT(A.EVENTTIME, 'yyyy-MM-dd HH:mm:ss') AS EVENTTIME
			,A.ISUSABLE
			,A.TID
		FROM DSP_PERSON A
		WHERE 1=1
		ORDER BY PERSONID ASC;
	</select>
	
	<select id="checkCnt" parameterType="WorkerInfo" resultType="int">
		SELECT COUNT(*)
		FROM DSP_PERSON
		WHERE 1=1
			AND PERSONID = #{personid}
			AND FACTORYID = #{factoryid}
	</select>   	

	<update id="save" parameterType="WorkerInfo" >
		MERGE INTO DSP_PERSON AS A
		USING (
			SELECT 1 AS DUM
		) AS B
		ON (
			A.PERSONID = #{personid} AND
			A.FACTORYID = #{factoryid}
			)
		WHEN MATCHED THEN
			UPDATE SET 
				 PERSONNAME		= #{personname}
				,EVENTUSER		= 'idrAdmin'
				,EVENTTIME		= GETDATE()
				,ISUSABLE		= #{isusable}
		WHEN NOT MATCHED THEN 
			INSERT(
				 COMPANYID
				,PERSONID
				,FACTORYID
				,PERSONNAME
				,CREATOR
				,CREATETIME
				,EVENTUSER
				,EVENTTIME
				,ISUSABLE		
			) 
			VALUES(
				 'dx'
				,#{personid}
				,#{factoryid}
				,#{personname}				
				,'idrAdmin'
				,GETDATE()
				,'idrAdmin'
				,GETDATE()	
				,#{isusable}			
			)
		;
	</update>

    <update id="remove" parameterType="list">
		<foreach collection="list" item="data" open="" close="" separator=";">
		UPDATE DSP_PERSON 
		SET ISUSABLE= 'N'
			,EVENTUSER = 'idrAdmin'
			,EVENTTIME = GETDATE()
    	WHERE
			COMPANYID = 'dx' 
			AND PERSONID = #{data.personid}
			AND FACTORYID = #{data.factoryid}
		</foreach>
    </update>

</mapper>
